<template lang="pug">
  .t1-basket__item
    img.t1-basket__item-image(:src='data.image')
    .t1-basket__item-title {{ data.title }}
    NumInput(:count='data.count')
    .t1-basket__item-part
      .t1-basket__item-price {{ `${data.price} ₽` }}
      .t1-basket__item-title {{ data.title }}
      .t1-basket__item-description {{ data.description }}
    .t1-basket__item-footer
      button.t1-basket__item-button
        svg-icon(name="remove" width="10px" height="14px")
        span Удалить
      button.t1-basket__item-button(@click="modalTrigger(data)")
        svg-icon(name="quantity" width="12px" height="23px")
        span {{ `${data.count} шт.` }}

</template>

<script>
import NumInput from '~/components/elements/constructor/template-1/NumInput.vue'

export default {
  props: ["data"],
  methods: {
    modalTrigger(data){
      this.$emit('trigger', data);
    }
  },
  components:{
    NumInput
  }
}
</script>

<style lang="sass">
  .t1-basket__item
    display: grid
    padding: 20px 0
    align-items: center
    grid-template-columns: auto minmax(160px, 1fr) 1fr 1fr
    input
      font-size: 13px!important
      padding: 10px 0!important

  .t1-basket__item-title
    font-size: 14px
    font-weight: 500
    max-width: 150px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  .t1-basket__item-image
    width: 85px
    height: 85px
    display: block
    margin-right: 20px

  .t1-basket__item-button
    display: flex
    align-items: center
    span
      margin-left: 7px

  .t1-basket__item-footer
    display: none
    padding-right: $unit
    padding-top: 10px
    margin-top: 20px
    margin-right: $unit-revert
    justify-content: space-between
    width: calc(100% + #{$unit})
    font-size: 12px
    border-top: 1px solid rgba(0,0,0, .1)

  .t1-basket__item-price
    font-size: 14px
    font-weight: 600

  .t1-basket__item-part
    margin-left: 20px
    .t1-basket__item-title
      display: none
      font-weight: 500
      font-size: 16px
      white-space: initial
      overflow: initial
      line-height: 120%
      margin-top: 5px

    .t1-basket__item-description
      display: none
      font-size: 11px
      color: #7A8085
      margin-top: 5px
  
  .is-tablet, .is-mobile

    .t1-basket__item-footer
      display: flex

    .t1-basket__item
      display: flex
      flex-wrap: wrap
      align-items: flex-start

    .t1-basket__item-title
      display: none
  
    .t1-basket__item
      .t1-number-input
        display: none

    .t1-basket__item-part
      & > *
        display: block

</style>