<template lang="pug">
    .t1-basket__info
      .t1-basket__info-content
        img.t1-basket__info-image(:src='data.image')
        .t1-basket__info-part
          .t1-basket__info-row
            span Итого
            .t1-basket__info-price {{ `${data.price} ₽` }}
          NumInput(
            :count='data.count'
          )
      .t1-basket__info-footer
        button.t1-basket__info-button Отмена
        button.t1-basket__info-button(@click='okTrigger()') Ок
</template>
<script>
import NumInput from '~/components/elements/constructor/template-1/NumInput.vue'
export default {
  props: ["data"],
  methods: {
    okTrigger(){
      this.$emit('okTrigger');
    }
  },
  components: {
    NumInput
  }
}
</script>
<style lang="sass">
  .t1-basket__info
    display: flex
    height: 100%
    flex-direction: column
    justify-content: space-between

  .t1-basket__info-content
    padding: 16px
    display: flex

  .t1-basket__info-footer
    display: grid
    grid-template-columns: repeat(2, 1fr)

  .t1-basket__info-image
    width: 90px 
    margin-right: 16px
    height: 90px

  .t1-basket__info-button
    font-size: 11px
    text-transform: uppercase
    border-top: 1px solid rgba(0,0,0,.1)
    padding: 15px
    &:first-child
      border-right: 1px solid rgba(0,0,0,.1)

  .t1-basket__info-part
    width: 100%
    display: grid
    grid-gap: 10px
    .number-input
      width: 100%
  .t1-basket__info-row
    display: flex
    justify-content: space-between
    font-size: 12px
    span
      color: #7A8085

  .t1-basket__info-price
    font-weight: 600
      
</style>