<template lang="pug">
    ul.t1-contacts
        li
            a(:href='data.email') {{ data.email }}
        li
            a(:href='data.phone.clear') {{ data.phone.formatted }}
        li 
            span {{ data.city }}
</template>
<script>

export default {
  props: ["data"],
}
</script>
<style lang="sass">
  .t1-contacts
    font-size: 12px
    display: grid
    grid-gap: 10px
    margin: 20px auto 0
    display: flex
    align-items: center
    flex-direction: column
    justify-content: center
    line-height: 120%
    align-items: center
</style>