<template lang="pug">
  ul.t1-description__list
    li(v-for='item in data')
      .t1-description__item(@click='toggleActive(item)' v-bind:class="{'is-active': item.active }")
        .t1-description__title {{ item.title }}
        .t1-description__text {{ item.content }}
</template>

<script>
  export default {
    props: ["data"],
    methods: {
      toggleActive(item){
        const checked = item.active;

        this.data.forEach((el) => {
          el.active = false;
        })
        if(checked){
          item.active = false;
        }
        else{
          item.active = true;
        }
        console.log(item.active)
      }
    }
  }
</script>

<style lang="sass">
  .t1-description__list
    font-family: Montserrat

  .t1-description__item
    position: relative
    cursor: pointer
    border-bottom: 1px solid rgba(0,0,0,.1)
    padding: 15px 0
    &:before, &:after
      content: ''
      position: absolute
      right: 8px
      top: 17px
      width: 1px
      transition-duration: .5s
      height: 15px
      transition-timing-function: ease
      background-color: $black
    
    &:after
      transform: rotate(90deg)

    &.is-active
      &:before
        transform: translateY(5px)
        opacity: 0
      .t1-description__text
        max-height: 300px
        padding-top: 15px

  .t1-description__title
    font-weight: 600
    text-transform: uppercase
    font-size: 11px
    
  .t1-description__text
    font-size: 14px
    color: #555D6B
    transition-duration: .4s
    font-weight: 400
    max-height: 0
    overflow: hidden

</style>