<template lang="pug">
  .t1-filters
    .t1-filters__part
      .t1-filters__head
        button.t1-filters__basket
          svg-icon(name="remove" width="20px" height="20px")
      ul.t1-filters__list
        li(v-for='item in data')
          .t1-filters__item(v-bind:class="{ 'is-active': item.active }")
            button.t1-filters__item-button(@click='toggleActive(item)') {{ item.title }}
            .t1-filters__drop(v-if='item.active')
              .t1-filters__checkbox(v-for='checkbox in item.list')
                input(type="checkbox" :id='`filter-${checkbox.alt}`').t1-filters__checkbox-button
                label.t1-filters__checkbox-label(:for='`filter-${checkbox.alt}`') {{ checkbox.title }}
    button.t1-filters__button.t1-button Показать 10 товаров

</template>

<script>
  export default {
    props: ["data"],
    methods: {
      toggleActive(item){
        this.data.forEach((el) => {
          el.active = false;
        })
        item.active = true;
      }
    }
  }
</script>

<style lang="sass">
  .t1-filters
    width: 430px
    display: flex
    height: 100%
    flex-direction: column
    justify-content: space-between
    font-family: Montserrat

  .t1-filters__list
    padding: 100px $unit
    display: grid
    grid-gap: 30px
    margin-right: 10px

  .t1-filters__item
    &.is-active
      .t1-filters__item-button
        &:after
          transform: rotate(225deg)

  .t1-filters__item-button
    display: flex
    align-items: center
    width: 100%
    justify-content: space-between
    position: relative
    font-size: 15px
    font-weight: 500
    &:after
      content: ''
      width: 9px
      height: 9px
      border-bottom: 1px solid $black
      border-right: 1px solid $black
      transform: rotate(45deg)
    
  .t1-filters__drop
    display: grid
    grid-gap: 24px
    margin-top: 20px

  .t1-filters__checkbox
    width: calc(100% - 30px)
    display: flex
    margin-left: 30px
    align-items: center
    justify-content: space-between

  .t1-filters__basket
    opacity: .6
    width: 20px
    height: 20px

  .t1-filters__checkbox-label
    font-size: 13px
    font-weight: 400
    cursor: pointer
    width: 100%
    position: relative
    &:before
      width: 24px
      height: 24px
      border: 1px solid rgba(0,0,0,.2)
      border-radius: 100%
      content: ''
      position: absolute
      right: 0
      top: 0
      bottom: 0
      margin: auto

  .t1-filters__checkbox-button:checked ~ .t1-filters__checkbox-label:before
      background-color: black
      background-image: url("/img/check.svg")
      background-repeat: no-repeat
      background-position: center
      background-size: 80%

  .t1-filters__checkbox-button
    display: none
  
  .t1-filters__button
    width: 100%
    font-weight: 400
    padding: 25px

  .t1-filters__head
    display: none
    border-bottom: 1px solid rgba(0,0,0,.1)
    padding: 16px $unit

  .is-tablet, .is-mobile
    .t1-filters
      width: 100%
    
    .t1-filters__list
      padding: 40px 16px
      margin-right: 0

    .t1-filters__item-button
      &:after
        margin-right: 4px
  
    .t1-filters__head
      display: flex
      padding: 16px
      
</style>