<template lang="pug">
  .t1-gallery
    .t1-gallery__controls
      button.t1-gallery__button.t1-gallery__button--prev
      button.t1-gallery__button.t1-gallery__button--next

    swiper(:options="swiperOptionThumbs" ref="swiperThumbs").t1-gallery__thumbs
      swiper-slide.t1-gallery__slide(v-for='slide in data')
        img.t1-gallery__slide-img(:src='slide.preview')
    
    swiper(:options="swiperOptionMain" ref="swiperMain" :key="swiperOptionMain.loop").t1-gallery__main
      .t1-gallery__pagination.swiper-pagination(slot="pagination")
      swiper-slide.t1-gallery__slide(v-for='slide in data')
        img.t1-gallery__slide-img(:src='slide.image')

</template>

<script>
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
  export default {
    components: {
      Swiper,
      SwiperSlide
    },
    props: ["data"],
    computed: {
      mediaPoint: function () {
        let activePoint = this.$store.state.constructor.media;
        return activePoint;
      },
    },
    watch: {
      mediaPoint(newPoint) {
        this.mediaWatcher(newPoint);
      }
    },
    data() {
       return {
        componentKey: 0,
        swiperOptionThumbs: {
          direction: "horizontal",
          slidesPerView: 2,
          speed: 700,
          spaceBetween: 8,
          slideToClickedSlide: true,
          swiperInited: false,
          navigation: {
            nextEl: '.t1-gallery__button--next',
            prevEl: '.t1-gallery__button--prev'
          },
          breakpoints: {
            1240: {
              spaceBetween: 16,
              slidesPerView: 4,
              direction: "vertical",
            },
          }
        },
        swiperOptionMain: {
          direction: "horizontal",
          spaceBetween: 16,
          speed: 700,
          slidesPerView: 1,
          touchRatio: 0.2,
          breakpoints: {
            1240: {
              direction: "vertical",
            },
          },
          pagination: {
            el: '.swiper-pagination'
          }
        }
      }
    },
    mounted() {
      this.swiperInited = true;
      this.$nextTick(() => {
        const swiperMain = this.$refs.swiperMain.$swiper
        const swiperThumbs = this.$refs.swiperThumbs.$swiper
        swiperMain.controller.control = swiperThumbs
        swiperThumbs.controller.control = swiperMain
      })
      this.mediaWatcher(this.$mq);
    },
    methods: {
      mobileInit() {
        // Изменим нужные опции
        this.$refs.swiperMain.swiperInstance.params.direction = "horizontal";
        this.$refs.swiperThumbs.swiperInstance.params.direction = "horizontal";
        this.$refs.swiperThumbs.swiperInstance.params.spaceBetween = 8;
        
        // Обновим слайдеры
        this.$refs.swiperMain.swiperInstance.update();
        this.$refs.swiperThumbs.swiperInstance.update();
      },
      desktopInit() {
        // Изменим нужные опции
        this.$refs.swiperMain.swiperInstance.params.direction = "vertical";
        this.$refs.swiperThumbs.swiperInstance.params.direction = "vertical";
        this.$refs.swiperThumbs.swiperInstance.params.spaceBetween = 16;
        
        // Обновим слайдеры
        this.$refs.swiperMain.swiperInstance.update();
        this.$refs.swiperThumbs.swiperInstance.update();
      },
      mediaWatcher(point){
        this.$el.classList.remove("t1-gallery--mobile")
        this.$el.classList.remove("t1-gallery--tablet")
        this.$el.classList.remove("t1-gallery--desktop")
        this.$el.classList.add(`t1-gallery--${point}`)

        if(point == "tablet" || point == "mobile"){
          this.$el.querySelectorAll(".swiper-container").forEach((el) => {
            el.classList.remove("swiper-container-vertical")
            el.classList.add("swiper-container-horizontal")
          })
          this.mobileInit();
        }
        else{
          this.$el.querySelectorAll(".swiper-container").forEach((el) => {
            el.classList.remove("swiper-container-horizontal")
            el.classList.add("swiper-container-vertical")
          })
          this.desktopInit();
        }
      }
    }
  }
</script>

<style lang="sass">
    .t1-gallery__controls
      position: absolute
      height: 100%
      top: 0
      left: 0
      width: 165px
      display: flex
      flex-direction: column
      justify-content: space-between

    .t1-gallery__pagination
      display: none

    .t1-gallery__button
      background: #F6F6F6
      display: flex
      justify-content: center
      align-items: center
      padding: 13px
      &:before
        content: ''
        width: 8px
        height: 8px
        border-top: 1px solid $black
        border-right: 1px solid $black
      &.t1-gallery__button--prev
        &:before
          transform: rotate(-45deg)

      &.t1-gallery__button--next
        &:before
          transform: rotate(135deg)

    .t1-gallery
        width: 100%
        height: 100%
        display: grid
        position: relative
        align-items: center
        grid-gap: 40px
        grid-template-columns: 165px 1fr
        .swiper-container
            margin: 0
        *
          will-change: transform

    .t1-gallery__slide
      position: relative
      width: 100%!important
      &:before
        content: ''
        width: 100%
        position: absolute
        height: 4px
        background-color: $black
        left: 0
        transition-duration: .7s
        bottom: 0
        z-index: 1
        transform: scaleY(0)
        transition-origin: bottom
      img
        width: 100%
        position: absolute
        height: 100%
        left: 0
        top: 0
        object-fit: cover
        object-position: top center

    .t1-gallery__slide-img
      display: block

    .t1-gallery__thumbs
      height: calc(100% - 100px)

      .swiper-slide-active
        &:before
          //transform: scaleY(1)

    .t1-gallery__main
      height: 100%

    .is-tablet, .is-mobile
      .t1-gallery
        &.t1-gallery--tablet
          
          .t1-gallery__thumbs
            .t1-gallery__slide
              width: 90px!important
              height: 90px!important

        &.t1-gallery--mobile
          .t1-gallery__thumbs
            .t1-gallery__slide
              width: 70px!important
              height: 70px!important

      .t1-gallery__pagination
        display: block
        .swiper-pagination-bullet
          width: 4px
          height: 4px
          &.swiper-pagination-bullet-active
            background-color: $black

      .t1-gallery__thumbs
        height: 70px
        padding: 0 $unit
        margin-top: 20px
        width: 100%

      .t1-gallery
        display: flex
        height: initial
        grid-gap: 16px
        align-items: flex-start
        flex-direction: column-reverse

      .t1-gallery__main
        width: 100%
        height: 330px
      
      .t1-gallery__controls
        display: none
      
    
    .constructor-view
      .t1-gallery
        &.t1-gallery--tablet, &.t1-gallery--mobile
          .t1-gallery__main
            height: 400px

          .swiper-wrapper
            flex-direction: row

          .t1-gallery__thumbs
            padding: 0 16px

          

        

</style>