<template lang="pug">
  .t1-modal(v-bind:class="{'is-active': modalActive }")
    .t1-modal__overlay(@click='modalClose()')
    .t1-modal__content
      button.t1-modal__close(@click='modalClose()')
      slot
</template>

<script>
  import { scrollState } from '@/utils.js'
  export default {
    props: ["modalName", "localMode"],
    data() {
      return {
        modalActive: false,
      }
    },
    methods: {
      modalClose(){
        this.modalActive = false;
        if(!this.localMode){
          scrollState(".t1-main", false);
        }
      },
      modalOpen(){
        this.modalActive = true;
        if(!this.localMode){
          scrollState(".t1-main", true);
        }
      }
    }
  }
</script>

<style lang="sass">
  .t1-modal
    position: fixed
    top: 0
    z-index: -1
    left: 0
    width: 100vw
    height: 100vh
    pointer-events: none
    padding: 60px 0 0
    &.is-active
      pointer-events: all
      .t1-modal__content
        transform: translateX(0)
      .t1-modal__overlay
        opacity: 1

  .t1-modal--basket
    z-index: 2
    padding: 0

  .t1-modal__overlay
    width: 100%
    height: 100%
    background-color: rgba(0,0,0,.5)
    left: 0
    transition-duration: .5s
    top: 0
    opacity: 0
    position: absolute
    z-index: 4

  .t1-modal__content
    height: 100%
    top: 0
    right: 0
    overflow-y: auto
    width: auto
    z-index: 5
    opacity: 1
    transition-duration: .5s
    transtion-timing-function: cubic-bezier(.215,.61,.355,1)
    transform: translateX(100%)
    position: absolute
    background-color: white
    &::-webkit-scrollbar
      width: 0
      background: transparent
  
  .t1-modal__list
    width: 100%
    margin: 70px 0
    text-align: center
    display: grid
    grid-gap: 4vh

  .t1-modal__item
    font-family: 'Montserrat'
    font-weight: 500
    font-size: 18px

  .t1-modal__close
    width: 20px
    height: 20px
    position: absolute
    z-index: 1
    top: 30px
    right: $unit
    &:before, &:after
      content: ''
      position: absolute
      width: 100%
      height: 2px
      background-color: $black
      margin: auto
      top: 0
      bottom: 0
      left: 0
      right: 0
    &:before
      transform: rotate(45deg)
    &:after
      transform: rotate(-45deg)
  
  .t1-modal--menu
    z-index: -1!important
  
  .t1-modal--basket-item
    z-index: 4
    .t1-modal__overlay
      background-color: rgba(0,0,0,.2)
    .t1-modal__content
      height: 170px!important
      top: 0
      right: 0
      left: 0
      bottom: 0
      padding: 0!important
      opacity: 0
      margin: auto
      width: calc(100% - #{$unit-double})!important


  .t1-modal--filters
    z-index: 2
    .t1-modal__close
      opacity: 1!important

  .constructor-view
    &.is-tablet, &.is-mobile
      .t1-modal
        position: absolute
        width: 100%
        min-height: 600px
        overflow-y: auto
  .constructor-view
    &.is-desktop, &.is-tablet, &.is-mobile
      .t1-modal
        width: 100%
        position: absolute
        height: 100%
      .t1-modal__content
        height: 100%
  
  .is-tablet, .is-mobile
    .t1-modal--filters
      .t1-modal__content
        padding: 0px
      .t1-modal__close
        width: 15px
        height: 15px
        top: 16px
        right: 16px
        &:before, &:after
          height: 1px

    .t1-modal--basket
      
      .t1-modal__close
        opacity: 1
        &:before, &:after
          height: 1px

      .t1-modal__content
        padding: 0
        height: calc(100% - 40px)!important
        transform: translateY(60px) translateX(0)

      &.is-active
        .t1-modal__content
          height: calc(100% + 10px)
          transform: translateY(40px)!important
    
    .t1-modal__close
      opacity: 0

    .t1-modal
      height: 600px
      &.is-active
        .t1-modal__content
          opacity: 1
          transform: translateX(0) translateY(0px)
    .t1-modal__content
      width: 100%
      opacity: 0
      padding: 60px 0
      height: 100vh
      transform: translateX(0) translateY(40px)

    .t1-modal__overlay
      height: 100vh

  .is-desktop:not(.constuctor-view)
    .t1-modal
      z-index: 2
      background-color: transparent

  .is-tablet.is-safari, .is-mobile.is-safari
    .t1-modal--basket
      .t1-modal__content
        height: calc(100% + 80px)!important
</style>