<template lang="pug">
  vue-number-input(v-model="count" :min="1" controls).t1-number-input
</template>

<script>
  //import VueNumberInput from '@chenfengyuan/vue-number-input';
  export default {
    props: ["count"],
    // components: {
    //   VueNumberInput
    // }
  }
</script>

<style lang="sass">
  .t1-number-input
    position: relative
    width: 120px
    border: 1px solid rgba(0,0,0,.1)
    input
      padding-left: 0!important
      padding-right: 0!important
      text-align: center
      font-size: 16px
      height: 100%
      font-weight: 500
      border: none!important
      
    button
      border: none!important
      &:hover
        &:before, &:after
          background-color: lighten($black, 40%)!important
      &:disabled
        opacity: .5
        &::before
          background: #111!important
      &:after
        height: 30%!important
      &:before
        width: 30%!important
      
</style>