body
  -webkit-overflow-scrolling: touch
  background: $bg
  
  &::-webkit-scrollbar
    width: 4px
    height: 4px

  &::-webkit-scrollbar-thumb
    background-color: $black
  +PTRootUI(r)
  +base-text
  line-height: $base-lh
  color: $black
  text-rendering: optimizeLegibility
  font-variant-ligatures: none
  font-feature-settings: "liga" 0

body.no-scroll
  overflow: hidden
  width: 100%
  height: 100vh
  position: fixed

html, body
  height: 100%

