// Размер наборного текста
=base-text
  font-size: 18px

// vh
=vh($perc: 100)
  height: #{$perc}vh
  height: calc(var(--vh, 1vh) * #{$perc})

// Цвет ссылок
=link($color: $base-text-color)
  color: $color

// Адаптивный фон
=bg($size: cover, $repeat: no-repeat, $position: center center)
  background-size: $size
  background-repeat: $repeat
  background-position: $position

// Прокрутка с кастомным скроллбаром
=scrollbar($size: 4px, $bg: $black)
  -webkit-overflow-scrolling: touch
  overflow-x: hidden
  overflow-y: auto

  &::-webkit-scrollbar
    width: $size
    height: $size

  &::-webkit-scrollbar-thumb
    background-color: $bg

=scroll-nobar
  -webkit-overflow-scrolling: touch
  overflow-x: hidden
  overflow-y: auto

  &::-webkit-scrollbar
    display: none

