<template lang="pug">
  .t1-basket
    //  Корзина
    .t1-basket__content(v-if='!orderingState')
        .t1-basket__content-inner
            .t1-basket__title Ваша корзина
            ul.t1-basket__list
                li(v-for='item in data')
                    BasketItem(:data='item' @trigger="data => modalTrigger(data)")
        .t1-basket__footer
            .t1-basket__total
                .t1-basket__total-title Всего
                .t1-basket__total-count 58 460 ₽

            button.t1-basket__button.t1-button(@click='orderingOpen()') К оформлению

    // Оформление
    .t1-basket__content.t1-basket__content--ordering(v-else)
        .t1-basket__content-inner
            .t1-basket__title Оформление заказа
            .t1-basket__fields
                input.t1-field(placeholder="Имя")
                input.t1-field(placeholder="Телефон")
                input.t1-field(placeholder="Почта")
        .t1-basket__footer
            .t1-basket__order
                svg-icon(name="info" width="16px" height="16px")
                p Мы свяжемся с вами для уточнения деталей заказа, необходимого размера и способа оплаты и доставки
            button.t1-basket__button.t1-button Оформить покупку
</template>
<script>
import NumInput from '~/components/elements/constructor/template-1/NumInput.vue'
import BasketItem from '~/components/elements/constructor/template-1/BasketItem.vue'

export default {
  props: ["data"],
  data: () => {
    return {
      orderingState: false
    }
  },
  methods: {
    orderingOpen(){
        this.orderingState = true;
    },
    orderingClose(){
        this.orderingState = false;
    },
    modalTrigger(data) {
      this.$emit('trigger', data);
    }
  },
  components: {
    NumInput,
    BasketItem
  }
}
</script>
<style lang="sass">
    .t1-basket
        width: 35vw
        height: 100%
        position: relative
        font-family: Montserrat

    .t1-basket__title
        font-size: 24px
        font-weight: 500
    
    .t1-basket__content
        display: grid
        height: 100%
        grid-template-rows: 1fr auto

    .t1-basket__button
        width: 100%
        font-weight: 400
        padding: 25px

    .t1-basket__content-inner
        padding: 70px $unit $unit

    .t1-basket__fields
        display: grid
        margin-top: 30px
        grid-gap: 20px

    .t1-basket__order
        display: grid
        grid-template-columns: auto 1fr
        grid-gap: 16px
        position: relative
        padding: 0 $unit
        width: 100%
        margin-bottom: 40px
        p
            color: #7A8085
            max-width: 70%
            font-size: 14px
            line-height: 130%

    .t1-basket__list
        li
            position: relative
            &:not(:last-child)
                border-bottom: 1px solid rgba(0,0,0,.1)
                &:before
                    content: ''
                    position: absolute
                    height: 8px
                    display: none
                    background: #F3F3F3
                    bottom: 0
                    left: $unit-revert
                    width: calc(100% + #{$unit-double})
    
    .t1-basket__total
        display: flex
        align-items: center
        font-size: 18px
        padding: 0 $unit
        margin-bottom: 30px
        justify-content: space-between

    .t1-basket__total-title
        font-weight: 500

    .t1-basket__total-count
        font-weight: 600

    .constructor-view
        &.is-desktop
            .t1-basket
                width: 600px

    .is-tablet, .is-mobile
        .t1-basket__content--ordering
            .t1-basket__button
                width: 100%
                padding: 15px

        .t1-basket__order
            padding: 0
            p
                max-width: 100%
        .t1-basket__footer
            display: flex
            flex-wrap: wrap

        .t1-basket__list
            li
                border-bottom: none
                &:before
                    display: block

        .t1-basket__total-count
            font-size: 16px
            white-space: nowrap

        .t1-basket__total-title
            color: #7A8085
            font-size: 11px

        .t1-basket__button
            width: auto
            padding: 8px 25px

        .t1-basket__total
            display: block
            margin: 0
            padding: 0

        .t1-basket__title
            font-size: 18px
            font-weight: 600

        .t1-basket__footer
            display: flex
            padding: $unit
            justify-content: space-between

        .t1-basket__content-inner
            padding-top: 35px
        .t1-basket
            width: 100%

    .is-mobile
        .t1-basket__order
            margin-bottom: 20px
            svg
                display: none
            p
                line-height: 150%
</style>