<template lang="pug">
  .t1-catalog
    Modal(ref="filters" name="filters").t1-modal--filters
      Filters(
        :data='data.filters'
      )
    .t1-container--sm
      .t1-catalog__header
        .t1-catalog__categories
          ul.t1-catalog__categories-list
            li(v-for='item in data.categories')
              a(:href='item.slug' v-if='item.active' class="is-active") {{ item.title }}
              a(:href='item.slug' v-else) {{ item.title }}
        .t1-filter__controls
          button.t1-filter__control(@click='filtersOpen()')
            span Фильтр
            svg-icon(name="filter" width="14px" height="12px")
            
          Select.t1-filter__sortable(
            :data='sortable'
          )
            
        button.t1-filter__button(@click='filtersOpen()')
          span

      ul.t1-catalog__list(v-if='data.cardView != "table"' :style='`grid-template-columns: repeat(${data.columns}, 1fr)`' :class='`mobile-columns--${data.mobileColumns}`')
        li(v-for='item in data.list')
          .t1-catalog__item(:class='`t1-catalog__item--${data.cardView}-type`')
            a(href="#").t1-catalog__item-image
              img(:src='item.image' :alt='item.title')
            // Card view 1
            .t1-catalog__item-part(v-if='data.cardView == "one"')
              a(href="#").t1-catalog__item-title {{ item.title }}
              .t1-catalog__item-price {{ `${item.price} ₽` }}
            // Card view 2
            .t1-catalog__item-part(v-if='data.cardView == "two"')
              a(href="#").t1-catalog__item-title {{ item.title }}
              .t1-catalog__item-description {{ item.description }}
              .t1-catalog__item-price {{ `${item.price} ₽` }}
            // Card view 3
            .t1-catalog__item-part(v-if='data.cardView == "three"')
              a(href="#").t1-catalog__item-title {{ item.title }}
              .t1-catalog__item-description {{ item.description }}
              .t1-catalog__item-price_wrapper
                .t1-catalog__item-price {{ `${item.price} ₽` }}
                a(href="#").t1-catalog__item-buy Купить
            // Card view 4
            .t1-catalog__item-part(v-if='data.cardView == "four"')
              a(href="#").t1-catalog__item-title {{ item.title }}
              .t1-catalog__item-price_wrapper
                .t1-catalog__item-price {{ `${item.price} ₽` }}
                a(href="#").t1-catalog__item-buy Купить
            // Card view 5
            .t1-catalog__item-part(v-if='data.cardView == "five"')
              a(href="#").t1-catalog__item-title {{ item.title }}
              .t1-catalog__item-description {{ item.description }}
              ul.t1-catalog__item-list
                li(v-for='prop in item.propsList')
                  .t1-catalog__item-list_title {{ prop.title }}
                  .t1-catalog__item-list_value
                    span(v-if='typeof(prop.value) == "number"') {{ prop.value }}
                    span(v-if='prop.value == true && typeof(prop.value) == "boolean"')
                      svg-icon(name="checked" width="10px" height="10px")
                    span(v-if='prop.value == false') -
              .t1-catalog__item-price_wrapper
                .t1-catalog__item-price {{ `${item.price} ₽` }}
                a(href="#").t1-catalog__item-buy Купить
      
      .t1-table(v-else)
        .t1-table__inner
          .t1-table__head(:style='`grid-template-columns: repeat(${data.columns}, minmax(120px, 1fr))`')
            .t1-table__cell Наименование
            .t1-table__cell Размер
            .t1-table__cell Высота сидения
            .t1-table__cell Высота подлокотника
            .t1-table__cell Глубина сидения
            .t1-table__cell Цена
            .t1-table__cell Описание
          .t1-table__row(v-for='item in data.list' :style='`grid-template-columns: repeat(${data.columns}, minmax(120px, 1fr))`')
            .t1-table__cell(v-if='item.title') {{ item.title }}
            .t1-table__cell(v-if='item.size') {{ item.size }}
            .t1-table__cell(v-if='item.heightSegment') {{ item.heightSegment }}
            .t1-table__cell(v-if='item.heightArmrest') {{ item.heightArmrest }}
            .t1-table__cell(v-if='item.sitting') {{ item.sitting }}
            .t1-table__cell(v-if='item.price') {{ item.price }}
            .t1-table__cell(v-if='item.description') {{ item.description }}

      .t1-catalog__pagination(v-if='data.cardView != "table"')
        ul.t1-catalog__pagination-list
          li.t1-catalog__pagination-item.t1-catalog__pagination-item--prev
            a(href="#")
              svg-icon(name="arrow-prev" width="8px" height="8px")
          li.t1-catalog__pagination-item.is-active
            a(href="#") 1
          li.t1-catalog__pagination-item
            a(href="#") 2
          li.t1-catalog__pagination-item
            a(href="#") 3
          li.t1-catalog__pagination-item
            a(href="#") ...
          li.t1-catalog__pagination-item
            a(href="#") 16
          li.t1-catalog__pagination-item.t1-catalog__pagination-item--next
            a(href="#")
              svg-icon(name="arrow-next" width="8px" height="8px")
              

</template>
<script>
import Select from '~/components/elements/client/Select.vue';
import ScrollBooster from 'scrollbooster';
import Modal from '~/components/elements/constructor/template-1/Modal.vue'
import Filters from '~/components/elements/constructor/template-1/Filters.vue'

export default {
  props: ["data"],
  data: () => {
    return {
      sortable: {
        list: ["Сначала дешёвые", "Сначала дорогие", "Сначала новинки"],
        selected: "Сначала дешёвые",
        type: "filter"
      }
    }
  },
  methods: {
    filtersOpen(){
      this.$refs.filters.modalOpen();
    }
  },
  mounted(){
    new ScrollBooster({
      viewport: this.$el.querySelector('.t1-catalog__categories'),
      content: this.$el.querySelector('.t1-catalog__categories-list'),
      scrollMode: 'transform',
      direction: 'horizontal',
      pointerDownPreventDefault: true,
    });
    if(this.$el.querySelector('.t1-table')){
      if(this.$mq == 'tablet' || this.$mq == 'mobile'){
        new ScrollBooster({
          viewport: this.$el.querySelector('.t1-table'),
          content: this.$el.querySelector('.t1-table__inner'),
          scrollMode: 'transform',
          direction: 'horizontal',
          pointerDownPreventDefault: true,
        });
      } 
    } 
  },
  components: {
    Select,
    Modal,
    Filters
  }
}
</script>
<style lang="sass">
  .t1-catalog
    padding: 80px 0
    background-color: white
    
  .t1-catalog__list
    display: grid
    grid-gap: 40px

  .t1-catalog__item
    display: block
    font-family: 'Montserrat'
    &.t1-catalog__item--four-type
      .t1-catalog__item-price_wrapper
        justify-content: space-between
      .t1-catalog__item-buy
        color: white
        background-color: black
        padding: 6px 12px 8px
    &.t1-catalog__item--five-type
      .t1-catalog__item-description
        font-size: 16px
        max-width: 100%

  .t1-catalog__item-image
    position: relative
    display: flex
    padding-bottom: 100%
    background-color: #F6F6F6
    margin-bottom: 15px
    img
      height: 60%
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      margin: auto
      object-fit: contain

  .t1-catalog__item-title
    font-weight: 500
    font-size: 15px
    margin-top: 20px

  .t1-catalog__item-description
    color: #7A8085
    font-size: 13px
    max-width: 240px
    margin: 5px 0 10px

  .t1-catalog__item-price
    font-size: 13px 
    letter-spacing: 0.01em
    font-weight: 500

  .t1-catalog__item-price_wrapper
    display: flex
    align-items: center
  
  .t1-catalog__item-buy
    font-size: 13px
    font-weight: 500
    border-left: 1px solid #B4BBC1
    line-height: 110%
    padding-left: 10px
    margin-left: 10px

  .t1-catalog__item-list
    font-size: 13px
    color: #555D6B
    margin-bottom: 10px
    li
      display: flex
      align-items: center
      justify-content: space-between

  .t1-catalog__item-list_value
    font-weight: 500

  .t1-catalog__pagination
    width: 100%
    display: flex
    justify-content: flex-end
    margin-top: 70px

  .t1-catalog__pagination-list
    display: flex
    align-items: center
    margin-left: -4px

  .t1-catalog__pagination-item
    position: relative
    margin-left: 4px
    svg
      fill: rgba(0,0,0,.4)
      transition-duration: inherit
    a
      width: 48px
      height: 48px
      display: flex
      justify-content: center
      align-items: center
      text-align: center
      border: 1px solid #F0F0F0
      font-size: 13px
      color: rgba(0,0,0,.4)
      transition-duration: .3s
      &:hover
        color: white
        background-color: black
        svg
          fill: white

    &.is-active
      a
        color: white
        background-color: black

  .t1-catalog__header
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 50px
    height: 50px

  .t1-catalog__categories
    padding: 5px 0
    width: auto
    position: relative
    overflow: hidden

  .t1-catalog__categories-list
    display: flex
    align-items: center
    font-family: 'Montserrat'
    font-size: 15px
    li
      position: relative
      display: flex
      align-items: center
      grid-gap: 20px
      &:not(:last-child):after
        width: 1px
        height: 14px
        content: ''
        display: block
        margin-top: 3px
        background-color: lighten($black, 70%)
        margin-right: 20px
    a
      transition-duration: .4s
      line-height: 110%
      white-space: nowrap
      color: lighten($black, 55%)
      &:hover, &.is-active
        color: $black

  .t1-filter__button
    width: 40px
    will-change: transform
    height: 30px
    margin: -10px 6px -10px 0
    transition-duration: .4s
    position: relative
    display: none
    span, &:before, &:after
      content: ''
      position: absolute
      width: 20px
      height: 1px
      background-color: black
      top: 0
      left: 0
      right: 0
      bottom: 0
      margin: auto
      transition-duration: .4s
    &:before
      transform: translateY(-5px)
    span
      transform: scaleX(.6)
    &:after
      transform: translateY(5px) scaleX(.3)
    &.active
      transform: rotate(90deg)
      span
        transform: translateX(10px)
        opacity: 0
      &:before
        transform: translateY(0) rotate(45deg) scaleX(1)
      &:after
        transform: translateY(0) rotate(-45deg) scaleX(1)

  .t1-filter__controls
    display: flex
    align-items: center
    font-family: Montserrat

  .t1-filter__control
    display: flex
    grid-gap: 7px
    height: 100%
    transition-duration: .4s
    align-items: center
    font-size: 15px
    font-weight: 500
    border-radius: 4px
    padding: 10px 15px
    &:hover
      background-color: #F6F6F6

  .t1-table__cell
    font-size: 13px
    font-family: Montserrat

  .t1-table__head
    padding: 15px 0
    border-bottom: 2px solid #7A8085

  .t1-table__row
    padding: 30px 0
    align-items: center
    border-bottom: 1px dashed #B4BBC1

  .t1-table__head, .t1-table__row
    grid-gap: 20px
    display: grid

  // Responsive for constructor frame
  .is-tablet, .is-mobile
    .t1-table
      overflow: hidden

    .t1-table__cell
      display: -webkit-box
      -webkit-box-orient: vertical
      -webkit-line-clamp: 2
      overflow: hidden

    .t1-catalog__item-description
      font-size: 11px
    .t1-filter__controls
      display: none
    .t1-filter__button
      display: block
    .t1-catalog__pagination
      padding: 0 16px
    .t1-catalog
      padding: 0px 0 60px
      .t1-container--sm
        padding: 0
    .t1-catalog__list
      padding: 0 16px

    .t1-catalog__list.mobile-columns--2
      grid-gap: 40px 16px

    .t1-catalog__header
      padding: 10px 0
      border-bottom: 1px solid #E8EAED
      margin: 0 0 25px
      padding: 16px 0px
      position: sticky
      background-color: white
      top: 0
      z-index: 1

    .t1-catalog__categories
      width: calc(100% - 53px)
      border-right: 1px solid rgba(0,0,0,.1)
      
    .t1-catalog__categories-list
      margin-left: -16px
      padding-left: 16px
      font-size: 15px
      li
        margin-left: 16px
        display: block
        &:after
          display: none
    .t1-table__inner
      width: fit-content
      margin-left: 16px

    .t1-table__row, .t1-table__head
      padding: 10px 0

  .is-tablet
    .t1-catalog__list
      grid-template-columns: repeat(2, 1fr)!important

    .t1-catalog__item-image
      padding-bottom: 250px

  .is-mobile
    .t1-catalog__pagination-list
      width: 100%
      justify-content: stretch
    .t1-catalog__pagination-item
      width: 100%
    .t1-catalog__pagination-item a
      height: 12vw
      width: initial
    .t1-catalog__list
      &.mobile-columns--1
        grid-template-columns: initial!important
      &.mobile-columns--2
        grid-template-columns: repeat(2, 1fr)!important

</style>