<template lang="pug">
  .t1-footer
    .t1-container
      .t1-footer__area
        .t1-footer__title Свяжитесь с нами
        Contacts(:data='data')
</template>
<script>
import Contacts from '~/components/elements/constructor/template-1/Contacts.vue'

export default {
  props: ["data"],
  components: {
    Contacts
  }
}
</script>
<style lang="sass">
  .t1-footer
    background-color: white
    text-align: center
    display: none
    padding-bottom: 40px

  .t1-footer__title
    font-family: 'Montserrat'
    font-size: 18px

  .t1-footer__contacts
    font-size: 12px
    display: grid
    grid-gap: 10px
    margin: 20px auto 0
    line-height: 120%
    align-items: center

  // Responsive for constructor frame
  .is-mobile
    .t1-footer
      display: block
</style>