<template lang="pug">
  .t1-header.t1-container.u-flex.u-jcsb.u-aic(v-bind:class="{ 'menu-opened': menuActive }")
    .t1-header__part.u-flex
      .t1-logo(v-if='data.logo') {{ data.logo }}
      ul.t1-menu(v-if='data.menu')
        li(v-for='menuItem in data.menu')
          nuxt-link(:to='menuItem.slug').t1-menu__item {{ menuItem.title }}
    .t1-header__contacts.u-flex.u-aic(v-if='data.contacts')
      .t-h1-header__contacts_item.t-h1-header__contacts_item--phone(v-if='data.contacts.phone')
        a(:href='data.contacts.phone.url').t-h1-header__phone {{ data.contacts.phone.title }}
      
      .t-h1-header__contacts_item.t-h1-header__contacts_item--social(v-if='data.contacts.instagram')
        a(:href='data.contacts.instagram')
          svg-icon(name="instagram" width="16px" height="16px")

      .t-h1-header__contacts_item.t-h1-header__contacts_item--search
        button.t-h1-header__btn
          svg-icon(name="search" width="18px" height="18px")

      .t-h1-header__contacts_item
        button.t-h1-header__btn
          svg-icon(name="shop" width="14px" height="18px")

      .t-h1-header__contacts_item.t-h1-header__contacts_item--menu
        button.t1-menu__button(@click='menuToggle()' v-bind:class="{ active: menuActive }")
          span
    Modal(ref="menu" v-bind:class="{'is-active': menuActive }" ).t1-modal--menu
      .t1-modal__content
        ul.t1-modal__list
          li(v-for='item in data.menu')
            a(href="#").t1-modal__item {{ item.title }}
        Contacts(:data='contacts')

</template>
<script>
import Contacts from '~/components/elements/constructor/template-1/Contacts.vue'
import Modal from '~/components/elements/constructor/template-1/Modal.vue'
export default {
  props: ["data", "contacts"],
  data: () => {
    return {
      menuActive: false
    }
  },
  methods: {
    menuToggle(){
      this.menuActive = !this.menuActive;
      if(this.menuActive){
        this.$refs.menu.modalOpen();
      }
      else{
        this.$refs.menu.modalClose();
      }
    }
  },
  components:{
    Contacts,
    Modal
  }
}
</script>
<style lang="sass">
  .t1-header
    padding-top: 31px
    padding-bottom: 31px
    background-color: white
    z-index: 2
    position: relative
    &:before
      content: ''
      position: absolute
      left: 0
      bottom: 0
      background-color: rgba(0,0,0,.1)
      transition-duration: .4s
      transform: translateY(10px)
      opacity: 0
      width: 100%
      transition-delay: 0s
      height: 1px

  .t1-header__part
    grid-gap: 4em

  .t1-menu
    display: flex
    align-items: center
    grid-gap: 30px

  .t1-menu__item
    font-size: 15px
    color: rgba(0,0,0,.6)
    font-family: 'Montserrat'
    font-weight: 400
    transition-duration: .4s
    &:hover
      color: rgba(0,0,0,1)

  .t-h1-header__contacts_item
    display: flex
    transition-duration: .4s
    align-items: center
    position: relative
    &:not(:first-child)
      margin-left: 25px
      &:before
        content: ''
        display: block
        width: 1px
        transition-duration: .4s
        transition-origin: center
        height: 15px
        margin-right: 25px
        background-color: rgba(0,0,0,.1)

  .t-h1-header__phone
    font-size: 13px
    font-weight: 500
    font-family: 'Montserrat'
    letter-spacing: 1px
    color: black

  .t-h1-header__btn, .t-h1-header__contacts_item a
    display: flex
    align-items: center

  .t1-menu__button
    width: 16px
    height: 16px
    position: relative
    span, &:before, &:after
      content: ''
      position: absolute
      width: 100%
      height: 1px
      background-color: black
      top: 0
      left: 0
      right: 0
      bottom: 0
      margin: auto
      transition-duration: .4s
    &:before
      transform: translateY(-5px)
    &:after
      transform: translateY(5px)
    &.active
      span
        transform: translateX(10px)
        opacity: 0
      &:before
        transform: translateY(0) rotate(45deg)
      &:after
        transform: translateY(0) rotate(-45deg)

  .t-h1-header__contacts_item--menu
    display: none

  // Menu opened
  .t1-header.menu-opened
    width: 100%
    position: sticky
    top: 0
    background-color: white
    &:before
      transform: translateY(0px)
      opacity: 1
      transition-delay: .2s
    .t-h1-header__contacts_item
      &:not(:last-child)
        opacity: 0
        pointer-events: none
      &:last-child:before
        transform: scaleY(1.8)
    
    .t1-modal__item
      opacity: 1
      transform: translateY(0)

  // Responsive for constructor frame
  .is-tablet
    .t1-header__part
      grid-gap: 35px

  .is-tablet, .is-mobile
    .t1-menu, .t-h1-header__contacts_item--phone
      display: none
    .t1-logo
      font-size: 20px
    .t-h1-header__contacts_item
      &:not(:first-child)
        margin-left: 15px
        &:before
          margin-right: 15px
        
    .t-h1-header__contacts_item--social
      margin-left: 0
      &:before
        display: none
    .t1-header
      padding-top: 15px
      padding-bottom: 15px
      background-color: transparent

    .t-h1-header__contacts_item--menu
      display: flex

</style>