<template lang="pug">
  .t1-hero.t1-container(:class='`type--${data.type} content--${data.contentPosition}`')
    .t1-hero__title {{ data.title }}
    .t1-hero__subtitle {{ data.subtitle }}
    .t1-hero__background(:style='`background-image: url(${data.background})`')
</template>
<script>

export default {
  props: ["data"],
}
</script>
<style lang="sass">
  .t1-hero
    height: calc(100vh - 100px)
    position: relative
    display: flex
    flex-direction: column
    grid-gap: 10px
    
    // Types
    &.type--half
      height: calc(60vh - 100px)

    // Content position
    &.content--bottom
      justify-content: flex-end
      padding-bottom: 7%
    &.content--center
      justify-content: center
      align-items: center
      text-align: center
    &.content--middle
      justify-content: center
      
  .t1-hero__background
    position: absolute
    z-index: 0
    width: 100%
    left: 0
    top: 0
    background-size: cover
    height: 100%

  .t1-hero__title, .t1-hero__subtitle
    z-index: 1
    position: relative
    font-family: 'Montserrat'

  .t1-hero__title
    text-indent: -.08em
    font-size: 64px
    line-height: 115%
  
  .t1-hero__subtitle
    font-size: 16px

  .constructor-view
    .t1-hero
      height: calc(100% - 100px)
      &.type--half
        height: calc(60% - 100px)
        .t1-hero__background
          background-position: center

  // Responsive for constructor frame
  .is-tablet, .is-mobile
    .t1-hero
      height: 100vh
      margin-top: -62px
      padding-top: 62px

    .t1-hero__title
      font-size: 56px

    .t1-hero__background
      background-position: bottom

  .is-mobile
    .t1-hero
      &.content--bottom
        padding-bottom: 15%

  .constructor-view
    &.is-tablet, &.is-mobile
      .t1-hero
        height: 100%
</style>