// Slide    
.slide-enter-active, .slide-leave-active 
    transition-duration: .5s
    transition-timing-function: ease
    opacity: 1
    transform: translateY(0px)

.slide-enter, .slide-leave-to
    opacity: 0
    transform: translateY(10px)

.slide-x-enter-active, .slide-x-leave-active 
    transition-duration: .5s
    transition-timing-function: easeIn
    transform: translateX(0vw)

.slide-x-enter, .slide-x-leave-to
    transform: translateX(100vw)
