// Tab(1200 px)
.media-max--tab
    @media (min-width: $tab + 1)
        display: none

.media-min--tab
    @media (max-width: $tab)
        display: none

// Tab sm (768 px)
.media-max--tab-sm
    @media (min-width: $tab-sm + 1)
        display: none

.media-min--tab-sm
    @media (max-width: $tab-sm)
        display: none


// Mob (500 px)
.media-max--mob
    @media (min-width: $mob + 1)
        display: none

.media-min--tab-sm
    @media (max-width: $mob)
        display: none

