.page-area
    display: grid
    grid-template-columns: 275px 1fr
    grid-gap: 45px
    padding-top: 10px
    min-height: calc(100vh - 92px)
    //padding-bottom: 90px

.aside-item
    padding: 28px 0
    &:not(:last-child)
      border-bottom: 1px solid rgba(0,0,0,.07)
    .t-h5
      margin-bottom: 25px

.aside-item__list
    display: grid
    grid-gap: 15px

.aside-item__link
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    background-color: #F2F5F6
    border-radius: 6px
    padding: 10px
    transition-duration: .4s
    &:hover
      background-color: #F1F1F2
    svg
      transform: rotate(180deg)

.aside-controls
    display: grid
    grid-gap: 20px