/**
 * Headings.
 *
 * Redefine our heading styles against utility classes. This gives us a double
 * stranded heading hierarchy whereby we can style one heading as another, e.g.:
 *
     <h4 class="t-h1">I am an H4 that is the same size as an H1</h4>
 *
 */

=heading-typo
  +montserrat(b)
  line-height: 0.96

.t-h1
  +heading-size-1
  +heading-typo

.t-h2
  +heading-size-2
  +heading-typo
  margin-bottom: 25px

.t-h3
  +heading-size-3
  +heading-typo

.t-h4
  +heading-size-4
  +heading-typo
  color: $title-black

.t-h5
  +heading-size-5
  +heading-typo

.t-h6
  +heading-size-6
  +montserrat(m)

.t-base
  font-size: 18px
  color: $grey
  
/**
 * Text Uppercase styled
 */
.t-ttu
  +travel(m)
  line-height: 1
  font-size: 12px
  letter-spacing: 0.04em
  text-transform: uppercase




/**
 * Text alignments.
 */

.t-tar
  text-align: right

.t-tal
  text-align: left

.t-tac
  text-align: center

ol.default-list-num
  list-style: decimal
  li
    padding-left: 15px
    margin-bottom: 25px
    &:last-child
      margin-bottom: 0

// Links
.link
  text-align: center
  +montserrat(m)
  transition-duration: .4s
  font-size: 14px
  white-space: nowrap
  min-width: 175px
  border-radius: 100px
  padding: 10px 15px
  transition-duration: .4s

.link--white
  background-color: white
  color: $black
  border: 1px solid transparent
  &:hover
    border: 1px solid white
    background-color: transparent
    color: white

.link--outline
  border: 1px solid white
  color: white
  &:hover
    background-color: white
    color: $black

.link--google
  background-color: $green
  display: flex
  border-radius: 68px
  padding: 10px 24px 10px 10px
  align-items: center
  +montserrat(b)
  font-size: 18px
  color: white
  &:hover
    background-color: $green-hover
  .icon
    background-color: white
    border-radius: 100%
    padding: 8px
    margin-right: 18px
    img
      width: 28px
      height: 28px
      display: block

.link--underline
  +montserrat(l)
  position: relative
  &:before, &:after
    content: ""
    background: black
    height: 1px
    width: 100%
    left: 0
    bottom: -4px
    transform-origin: right
    transform: scaleX(1) translateZ(0)
    position: absolute
    transition-duration: .6s
    transition-timing-function: cubic-bezier(.165,.84,.44,1)
    transition-delay: .3s
  &:after
    transform: scaleX(0) translateZ(0)
    transform-origin: left
    transition-delay: 0s
  &:hover
    &:before
      transform: scaleX(0) translateZ(0)
      transition-delay: 0s
    &:after
      transform: scaleX(1) translateZ(0)
      transition-delay: .3s

.link--green
  color: white
  background-color: $green
  &:hover
    background-color: $green-hover

.link--template
  color: $black
  text-transform: uppercase
  font-size: 12px
  +montserrat(b)
  display: flex
  letter-spacing: 1px
  cursor: pointer
  align-items: center
  svg
    margin-right: 10px

.link--iconic
  border: 1px solid $grey-3
  display: flex
  align-items: center
  justify-content: center
  color: $grey-4
  svg
    margin-right: 10px

.link--black
  background-color: $black
  border-radius: 0
  color: white
  font-size: 11px
  text-transform: uppercase
  padding: 8px