@font-face
  font-family: 'Avenir'
  src: url('../fonts/avenir/Avenir-Medium.woff') format('woff'),url('../fonts/avenir/Avenir-Medium.woff2') format('woff2')
  font-style: normal
  font-weight: 500
  font-display: swap

@font-face
  font-family: 'Avenir'
  src: url('../fonts/avenir/Avenir-Demi.woff') format('woff'),url('../fonts/avenir/Avenir-Demi.woff2') format('woff2')
  font-style: normal
  font-weight: 600
  font-display: swap

@font-face
  font-family: 'Avenir'
  src: url('../fonts/avenir/Avenir-Bold.woff') format('woff'),url('../fonts/avenir/Avenir-Bold.woff2') format('woff2')
  font-style: normal
  font-weight: 700
  font-display: swap

=avenir($weight: m)
  @if $weight == r
    font-family: 'Avenir', sans-serif
    font-weight: 500

  @if $weight == m
    font-family: 'Avenir', sans-serif
    font-weight: 600

  @if $weight == b
    font-family: 'Avenir', sans-serif
    font-weight: 700