@font-face
  font-family: 'Inter'
  src: url('../fonts/inter/inter-Regular.woff') format('woff'),url('../fonts/inter/inter-Regular.woff2') format('woff2')
  font-weight: 400
  font-display: swap  

@font-face
  font-family: 'Inter'
  src: url('../fonts/inter/inter-Medium.woff') format('woff'),url('../fonts/inter/inter-Medium.woff2') format('woff2')
  font-style: normal
  font-weight: 500
  font-display: swap

@font-face
  font-family: 'Inter'
  src: url('../fonts/inter/inter-Bold.woff') format('woff'),url('../fonts/inter/inter-Bold.woff2') format('woff2')
  font-style: normal
  font-weight: 700
  font-display: swap
  
=inter($weight: r)
  @if $weight == r
    font-family: 'Inter', sans-serif
    font-weight: 400
  @if $weight == m
    font-family: 'Inter', sans-serif
    font-weight: 500
  @if $weight == b
    font-family: 'Inter', sans-serif
    font-weight: 700

