@font-face
  font-family: 'montserrat'
  src: url('../fonts/montserrat/Montserrat-Thin.woff') format('woff')
  font-weight: 200
  font-display: swap  

@font-face
  font-family: 'montserrat'
  src: url('../fonts/montserrat/Montserrat-Light.woff') format('woff')
  font-weight: 300
  font-display: swap  

@font-face
  font-family: 'montserrat'
  src: url('../fonts/montserrat/Montserrat-Regular.woff') format('woff')
  font-weight: 400
  font-display: swap  

@font-face
  font-family: 'montserrat'
  src: url('../fonts/montserrat/Montserrat-Medium.woff') format('woff')
  font-weight: 500
  font-display: swap  

@font-face
  font-family: 'montserrat'
  src: url('../fonts/montserrat/Montserrat-Bold.woff') format('woff')
  font-weight: 600
  font-display: swap 

@font-face
  font-family: 'montserrat'
  src: url('../fonts/montserrat/Montserrat-ExtraBold.woff') format('woff')
  font-weight: 700
  font-display: swap 

=montserrat($weight: b)
  @if $weight == t
    font-family: 'montserrat', sans-serif
    font-weight: 200
  @if $weight == l
    font-family: 'montserrat', sans-serif
    font-weight: 300
  @if $weight == r
    font-family: 'montserrat', sans-serif
    font-weight: 400
  @if $weight == m
    font-family: 'montserrat', sans-serif
    font-weight: 500
  @if $weight == b
    font-family: 'montserrat', sans-serif
    font-weight: 600
  @if $weight == eb
    font-family: 'montserrat', sans-serif
    font-weight: 700