@font-face
  font-family: 'PTRootUI'
  src: url('../fonts/PT Root UI/PT Root UI_Regular.woff') format('woff'),url('../fonts/PT Root UI/PT Root UI_Regular.woff2') format('woff2')
  font-weight: 400
  font-display: swap  

@font-face
  font-family: 'PTRootUI'
  src: url('../fonts/PT Root UI/Ptrootuimedium.woff') format('woff'),url('../fonts/PT Root UI/Ptrootuimedium.woff2') format('woff2')
  font-weight: 500
  font-display: swap  

=PTRootUI($weight: r)
  @if $weight == r
    font-family: 'PTRootUI', sans-serif
    font-weight: 400
  @if $weight == m
    font-family: 'PTRootUI', sans-serif
    font-weight: 500