@font-face
  font-family: 'Travels'
  src: url('../fonts/travel/TTTravels-Light.woff') format('woff')
  font-weight: 300
  font-display: swap  
  
@font-face
  font-family: 'Travels'
  src: url('../fonts/travel/TTTravels-Medium.woff') format('woff')
  font-weight: 400
  font-display: swap  

@font-face
  font-family: 'Travels'
  src: url('../fonts/travel/TTTravels-Regular.woff') format('woff')
  font-style: normal
  font-weight: 500
  font-display: swap

@font-face
  font-family: 'Travels'
  src: url('../fonts/travel/TTTravels-Bold.woff') format('woff')
  font-style: normal
  font-weight: 700
  font-display: swap
  
=travel($weight: r)
  @if $weight == l
    font-family: 'Travels', sans-serif
    font-weight: 300
  @if $weight == r
    font-family: 'Travels', sans-serif
    font-weight: 400
  @if $weight == m
    font-family: 'Travels', sans-serif
    font-weight: 500
  @if $weight == b
    font-family: 'Travels', sans-serif
    font-weight: 700

