.tarifs-content
    padding-top: 50px
    padding-bottom: 50px

.tarifs-tabs
    margin-bottom: 30px
    display: flex
    width: 100%
    justify-content: center
    grid-gap: 8px
    list-style-type: none
    li
      grid-row: 1

.tarifs-tabs__item
    font-size: 14px
    font-weight: 500
    color: #535557
    width: 100%
    border-radius: 6px
    background-color: #F2F5F6
    transition-duration: .4s
    padding: 4px 17px
    border: 1px solid transparent
    display: flex
    align-items: center
    &.active
      background-color: #E5F4EB
      border: 1px solid #54CA7E
    &:hover
      background-color: #E5F4EB

.tarifs-tabs__tag
    background-color: #FF7171
    margin-left: 8px
    color: white
    border-radius: 3px
    padding: 1px 3px
    font-size: 11px

.tarifs-area
    display: grid
    grid-template-columns: repeat(3, 360px)
    grid-gap: 15px
    justify-content: center
    
.tarifs-item
    background-color: white
    border: 1px solid #F2F5F6
    position: relative
    border-radius: 6px
    transition-duration: .4s
    padding: 30px
    box-shadow: 0px 4px 4px rgba(201, 201, 201, 0.25)
    &:hover
      box-shadow: 0px 32px 48px rgba(5, 23, 39, 0.12)
      .tarifs-item__link
        opacity: 1
        transform: translateY(0px)
        pointer-events: all

.tarifs-item__title
    font-size: 24px

.tarifs-item__price
    margin-top: 20px
    font-weight: 300

.tarifs-item__list
    list-style-type: none
    padding-left: 0
    display: grid
    grid-gap: 10px
    margin-top: 20px
    border-bottom: 1px solid #E8EAED
    padding-bottom: 20px
    li
      font-size: 16px
      display: flex
      justify-content: flex-start
      svg
        margin: 7px 9px 0 0px

.tarifs-item__description
    font-size: 14px
    color: #555D6B
    line-height: 120%
    margin-top: 20px

.tarifs-item__link
    width: calc(100% - 60px)
    position: absolute
    left: 0
    right: 0
    margin: auto
    bottom: 30px
    opacity: 0
    pointer-events: none
    transform: translateY(10px)

.tarifs-item__head
    display: flex
    justify-content: space-between
    align-items: center

.tarifs-item__tag
    color: white
    background: #FF7171
    padding: 5px 10px
    border-radius: 6px
    font-size: 12px
    font-family: "Montserrat"