<template lang="pug">
  .checkbox
    input(
      :id='`checkbox-${name}`'
      type="checkbox"
      :value="val"
      v-model="model"
    )
    label(:for='`checkbox-${name}`')
</template>
<script>

export default {
  props: ["name"],
  computed: {
	model: {
        get() {
            return this.value;
        },
        set(val) {
            this.$emit('input', val);
        },
    },
  },
}
</script>
<style lang="sass">
  .checkbox
    width: 35px
    height: 15px
    position: relative
    label
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      &:before
        content: ''
        position: absolute
        left: 0
        top: 0
        border-radius: 31px
        background-color: #E9EDF4
        width: 100%
        height: 100%
      &:after
        position: absolute
        content: ''
        border-radius: 31px
        background-color: #B3B6BB
        width: 16px
        height: 16px
        left: 0
        top: 1px
        bottom: 0
        margin: auto
        transition-duration: .4s
        transition-timing-function: ease
    input
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      cursor: pointer
      z-index: 2
      opacity: 0
      &:checked + label:after
        background-color: #57B560
        transform: translateX(20px)
</style>
