<template lang="pug">
  .color-input
    input( 
      type="text" 
      :value="value"
      :v-model="value"
      :class='`color-input--${type}`'
    )
    ColorPicker(
        :color='color'
    )
</template>
<script>
import ColorPicker from '~/components/elements/client/ColorPicker.vue';
export default {
    props: ['value', 'color', 'type'],
    components: {
        ColorPicker
    }
}
</script>я
<style lang="sass">
    .color-input
        border-radius: 4px
        background-color: white
        border: 1px solid #E8EAED
        width: 100%
        position: relative
        input
            width: 100%
            height: 100%
            color: #555D6B
            padding: 15px
        .color-picker
            position: absolute
            top: 0
            bottom: 0
            margin: auto
            right: 6px
            display: flex
            align-items: center
            .vue-swatches
                display: flex
                align-items: center
            .vue-swatches__trigger
                border-radius: 100%!important
    
    .color-input--basic
        font-size: 14px
        font-weight: 400

    .color-input--title
        font-size: 16px
        font-weight: 400
</style>