<template lang="pug">
  .color-picker
    v-swatches(
      v-model="color"
      popover-x="left"
      popover-y="top"
      show-fallback
      fallback-input-type="color"
      fallback-ok-text='Применить'
    )
</template>
<script>
import VSwatches from 'vue-swatches'
import 'vue-swatches/dist/vue-swatches.css'

export default {
  // props: ['color'],
  data() {
    return {
      color: '#FFF7D6',
    }
  },
  components: { VSwatches },
}
</script>
<style lang="sass">
  .vue-swatches__trigger
    width: 24px!important
    height: 24px!important
    border-radius: 6px!important
    border: 1px solid rgba(0,0,0,.3)

  .vue-swatches__swatch
    width: 26px!important
    height: 26px!important
    margin: 0!important
    border-radius: 6px!important

  .vue-swatches__container
    width: 195px
    margin-bottom: 15px!important
    padding: 10px!important

  .vue-swatches__wrapper
    display: grid
    width: 100%!important
    grid-gap: 8px
    padding: 0px!important
    grid-template-columns: repeat(6, 26px)

  .vue-swatches__fallback__wrapper
    margin: 10px 0 0 0!important
    display: grid
    grid-gap: 10px
    padding-bottom: 0!important
    width: 100%!important
    grid-template-columns: 1fr auto
    
  .vue-swatches__fallback__input--wrapper
    padding: 0!important
    width: auto

  .vue-swatches__fallback__input
    padding: 0!important
    height: 100%
    cursor: pointer

  .vue-swatches__fallback__button
    background-color: #57B560
    font-family: "montserrat", sans-serif
    font-weight: 500
    font-size: 14px
</style>