<template lang="pug">
  .cover
    img(:src="image")
    button.cover-btn
      svg-icon(name="delete" width="16px" height="16px")
</template>
<script>
export default {
  props: ['image'],
}
</script>
<style lang="sass">
  .cover
    height: 125px
    width: 100%
    position: relative
    overflow: hidden
    border-radius: 6px
    z-index: 0
    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: 1
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18))
      transition-duration: .5s
    &:hover:before
      opacity: 0.2
    img
      position: absolute
      top: 0
      bottom: 0
      width: 130%
      left: -15%
      right: 0
      margin: auto
      object-fit: cover
      object-position: center

  .cover-btn
    background-color: white
    border-radius: 100%
    position: absolute
    top: 10px
    right: 10px
    width: 32px
    height: 32px
    display: flex
    justify-content: center
    align-items: center
    z-index: 2
</style>