<template lang="pug">
  .dropdown(v-bind:class="{ active: isActive }")
    .dropdown__context(@click="toggleActive()" @focusout="outsideClick()" tabindex="0")
        slot
    transition(name="slide")
        .dropdown__menu(v-if="isActive == true")
            ul.dropdown__list
                li(v-for="item in list")
                    nuxt-link(:to='item.slug') {{ item.title }}
</template>
<script>

export default {
    props: ['list'],
    data: () => {
        return{
          isActive: false
        }
    },
    methods: {
        toggleActive(){
            this.isActive = !this.isActive;
        },
        outsideClick(){
            this.isActive = false;
        }
    },
}
</script>
<style lang="sass">
    .dropdown
        position: relative
        height: 100%

    .dropdown__context
        cursor: pointer
        height: 100%
        outline: none

    .dropdown__menu
        position: absolute
        margin-top: 15px
        right: 0
        border-radius: 4px
        z-index: 12
        background-color: white
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05), 0px 24px 48px rgba(27, 70, 109, 0.1)
        @media (max-width: 768px)
            right: initial
            left: 0

    .dropdown__list
        li
            &:not(:last-child)
                a
                    border-bottom: 1px solid rgba(0,0,0,.1)
        a
            font-size: 14px
            display: block
            font-weight: 500
            white-space: nowrap
            padding: 12px 25px
            transition-duration: .4s
            &:hover
                background-color: #F2F5F6

    .dropdown.active
        .header__menu-btn
            box-shadow: 0px 1px 5px rgba(0,0,0,.05)
        .header__locales-arrow
            transform: rotate(180deg) translate(0px, -4px)
        .header__locales-btn
            background-color: #E8EAED
            
</style>
