<template lang="pug">
  .editable-input(:class='className')
    input(
        type="text"
        v-if="edit"
        :value="valueLocal"
        @blur="valueLocal = $event.target.value; edit = false; $emit('input', valueLocal);"
        @keyup.enter="valueLocal = $event.target.value; edit = false; $emit('input', valueLocal);"
        v-focus=""
        )
    p(v-else="") {{valueLocal}}
    button(@click="edit = true;") Изменить
</template>

<script>
  export default {

  props: ['value', 'className'],

  data () {
  return {
      edit: false,
      valueLocal: this.value
    }
  },

  watch: {
    value: function() {
      this.valueLocal = this.value;
    }
  },

  directives: {
    focus: {
      inserted (el) {
        el.focus()
      }
    }
  }

}
</script>