<template lang="pug">
  .editor
    .editor-title.t-h6 {{ `${title}:` }}
    editor(
      :initialValue="editorText"
      :options="editorOptions"
      initialEditType="wysiwyg"
      previewStyle="vertical"
      height="250px"
    )

</template>
<script>
import 'codemirror/lib/codemirror.css';

export default {
  props: ["title"],
  data() {
      return {
        editorText: 'Введите ваш текст',
        editorOptions: {
          hideModeSwitch: true,
          toolbarItems: [
            'bold',
            'italic',
            'quote',
            'link',
          ]
        }
      };
  },
}
</script>
<style lang="sass">
  .tui-editor-defaultUI-toolbar
    padding: 0
    background-color: transparent
    display: grid
    justify-content: flex-end
    grid-gap: 5px
    button
      background-color: transparent
      margin: 0
      grid-row: 1
      border: 1px solid transparent
      background-position: center
      padding: 5px

  .tui-editor-defaultUI
    border: none

  .te-toolbar-section
    border: none
    
  .tui-editor-contents
    border: 1px solid #E8EAED
    overflow: hidden
    border-radius: 4px
    font-size: 16px
    padding: 10px 15px!important
    font-family: "PTRootUI", sans-serif

  .editor-title
    margin-bottom: -23px

  .tui-editor-popup
    margin-left: initial
    font-family: "PTRootUI", sans-serif

  .tui-editor-defaultUI button
    border-radius: 3px
    font-size: 16px
    &.te-ok-button
      background-color: #57B560

  .tui-popup-header
    border-bottom: 1px solid #E8EAED

  .tui-popup-wrapper
    border: 1px solid #E8EAED
    border-radius: 4px
    input
      padding: 10px!important
      border: 1px solid #E8EAED!important
      border-radius: 3px!important

</style>