<template lang="pug">
  label.file-input
    .file-input__content
        svg-icon(name="download" width="32px" height="32px")
        b {{ data.title }}
        span {{ data.description }}
    input(type="file")
</template>
<script>
    export default {
        props: ["data"],
    }
</script>
<style lang="sass">
    .file-input
        background-color: #F2F5F6
        border-radius: 6px
        text-align: center
        cursor: pointer
        padding: 20px
        display: block
        b
            font-weight: 500
            font-size: 16px
            color: #737577
        span
            font-size: 12px
            color: #BDC2C6
        input
            display: none
        svg
            margin-bottom: 5px

    .file-input__content
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center  
</style>