<template lang="pug">
  ul.font-pair
    li(v-for='item in list')
      button.font-pair__item(
        v-bind:class="{ active: item.active }"
        @click='toggleActive(item)'
        )
        .font-pair__title(:style='`font-family: ${item.firstFont}`') Заголовок
        .font-pair__subtitle(:style='`font-family: ${item.secondFont}`') Основной текст
</template>
<script>
export default {
  props: ['list'],
  methods: {
      toggleActive(item){
        this.list.forEach((el) => {
          el.active = false;
        });
        item.active = true;
      }
    },
}
</script>
<style lang="sass">
  .font-pair
    width: 100%
    grid-gap: 15px
    display: grid

  .font-pair__item
    text-align: left
    transition-duration: .5s
    border-radius: 6px
    padding: 15px
    width: 100%
    border: 1px solid #E8EAED
    &:hover, &.active
      border: 1px solid #57B560
      background-color: #E5F4EB
      .font-pair__title:after
        opacity: 1

  .font-pair__title
    font-size: 24px
    font-weight: bold
    position: relative
    &:after
      background-color: #B4BBC1
      content: ''
      width: 36px
      height: 1px
      display: block
      margin: 4px 0px 10px
      opacity: .5
      transition-duration: .5s

  .font-pair__subtitle
    font-size: 14px
    font-weight: normal
</style>