<template lang="pug">
  input.input(
    :placeholder='placeholder'
    v-model="value"
    )
</template>
<script>
export default {
  props: ['value', 'placeholder'],
}
</script>
<style lang="sass">
    .input
      background-color: white
      border: 1px solid #E8EAED
      border-radius: 4px
      padding: 10px 15px
      width: 100%
      transition-duration: .4s
      font-size: 16px
      font-family: 'PTRootUI'
      color: #7A8085
      &:focus
        color: #071222
</style>