<template lang="pug">
  .mobile-menu
    .mobile-menu__context(@click="open()")
        slot
    transition(name="slide-x")
        .mobile-menu__popup(v-if="isActive == true" v-bind:class="{ active: isActive }")
            .mobile-menu__inner.u-jcsb.u-flex-col
                .mobile-menu__part
                    .mobile-menu__head.u-jcsb.u-flex.u-aic
                        Dropdown(
                            :list='locales'
                        )
                            .header__locales-btn.is-light
                                svg-icon(name="locales" width="20px" height="20px")
                                .header__locales-arrow
                                    svg-icon(name="arrow" width="13px" height="7px")
                        .mobile-menu__close(@click="close()")
                    ul.mobile-menu__list
                        li(v-for="item in list")
                            nuxt-link(:to='item.slug') {{ item.title }}
                .mobile-menu__part
                    nuxt-link(to="/starting_point").mobile-menu__signin Войти
                    nuxt-link(to="/registration").link.link--green Начать - это бесплатно

</template>
<script>
import Dropdown from '~/components/elements/client/Dropdown.vue'

export default {
    props: ['list', 'locales'],
    data: () => {
        return{
          isActive: false
        }
    },
    methods: {
        open(){
            this.isActive = true;
        },
        close(){
            this.isActive = false;
        }
    },
    components: {
        Dropdown
    }
}
</script>
<style lang="sass">
    .mobile-menu__popup
        position: fixed
        top: 0
        left: 0
        width: 100vw
        height: 100vh
        overflow-y: auto
        background-color: black
        padding: 25px 30px
        &.active
            .mobile-menu__inner
                transform: translateY(0px)
                opacity: 1
                transition-delay: 0s

    .mobile-menu__inner
        transition-duration: .5s
        transition-delay: .9s
        transform: translateY(20px)
        color: white
        height: 100%
        opacity: 0
        .mobile-menu__part
            &:last-child
                margin-top: 20px

    .mobile-menu__close
        width: 20px
        height: 20px
        position: relative
        &:before, &:after
            content: ''
            height: 2px
            width: 100%
            background-color: white
            margin: auto
            top: 0
            left: 0
            right: 0
            bottom: 0
            position: absolute
        &:before
            transform: rotate(45deg)
        &:after
            transform: rotate(-45deg)

    .mobile-menu__list
        display: grid
        margin-top: 10vh
        grid-gap: 15px
        a
            color: white
            font-family: montserrat
            font-weight: 500
            font-size: 24px

    .mobile-menu__part
        & > .link--green
            width: 100%
            font-size: 16px
            display: block
            padding: 10px 0

    .mobile-menu__signin
        color: white
        font-family: Montserrat
        font-size: 16px
        text-align: center
        width: 100%
        margin-bottom: 30px
        display: block
</style>
