<template lang="pug">
  .select
    .select-inner.is-taggable(v-if='data.type == "taggable"')
      v-select(:options="data.list" v-model="data.selected" taggable multiple)
    .select-inner.is-taggable(v-if='data.type == "filter"')
      v-select(:options="data.list" v-model="data.selected" :searchable="false")
    .select-inner(v-else)
      v-select(:options="data.list" v-model="data.selected" @input="change")
</template>
<script>
export default {
  props: ['data'],
  methods: {
    change(){
      this.$el.classList.add("is-changed")
    }
  }
}
</script>
<style lang="sass">
    .select
      font-size: 16px
      font-family: 'PTRootUI'
      &:not(.is-changed)
        .vs__clear
          display: none
      .vs__clear
        transform: scale(.8)
      .vs__dropdown-toggle
        border: 1px solid #E8EAED
        border-radius: 4px
        background: white
        padding: 6px 6px 10px
      .vs__open-indicator
        fill: rgb(125 122 122 / 50%)
        transform: scale(.6)
      .vs__selected
        color: #7A8085
      .vs__dropdown-menu
        box-shadow: none
        border: 1px solid #E8EAED
        border-radius: 0px 0px 4px 4px
        top: calc(100% - 1px)
        padding: 0
      .vs__dropdown-option
        padding: 10px 15px
        &--highlight
          color: black
          background-color: #E5F4EB

      .vs--open
        .vs__dropdown-toggle
          border-radius: 4px 4px 0px 0px
        .vs__open-indicator
          transform: scale(.6) rotate(180deg)

    .select-inner.is-taggable
      .vs__selected
        font-size: 14px
        border: none
        padding: 7px 8px
      .vs__dropdown-toggle
        padding: 2px 2px 6px
      .vs__deselect
        background-color: #B4BBC1
        border-radius: 100%
        width: 16px
        height: 16px
        display: flex
        justify-content: center
        align-items: center
        margin-left: 10px
        transition-duration: .4s
        &:hover
          background-color: #7A8085
        svg
          fill: white
          transform: scale(.7)

    .t1-filter__sortable
      cursor: pointer
      font-family: Montserrat
      .vs__selected
        padding: 0!important
        opacity: 1!important
        position: static!important
        color: $black
        font-size: 15px
        background: none
        font-weight: 500
        display: flex
        align-items: center
        grid-gap: 10px
        white-space: nowrap
        margin: 0
        position: relative
        &:before
          content: "Сортировать: "
          color: #7A8085
          font-weight: 400

      .vs__dropdown-toggle
        padding: 0
        border: none
        background: transparent

      .vs__actions
        display: none

      .select
        padding: 0!important
        border: none

      .v-select
        transition-duration: .4s
        padding: 4px 0px 0px 10px
        &:hover, &.vs--open
          background-color: #F6F6F6

      .vs__dropdown-menu
        top: 50px
        width: calc(100% - 10px)
        min-width: 245px!important
        left: 10px
        border: none
        box-shadow: 0px 2px 10px rgba(0,0,0,.1)
        padding: 8px

      .vs__dropdown-option
          font-size: 13px
          &--highlight
            background-color: #F6F6F6
</style>