<template lang="pug">
  ul.templates-switch
    li(
        v-for='item in list'
    )
        button(
          v-bind:class="{ active: item.active }"
          @click='toggleActive(item)'
        )
            img(:src='item.img')
</template>
<script>
export default {
  props: ['list'],
  methods: {
    toggleActive(item){
      this.list.forEach((el) => {
        el.active = false;
      })
      item.active = true;
    },
  }
}
</script>
<style lang="sass">
  .templates-switch
    display: grid
    grid-gap: 8px
    li
      grid-row: 1
      position: relative
      img
        display: block
        width: 110%
        margin: -5% 0 0 -5%
      button
        border-radius: 6px
        overflow: hidden
        border: 1px solid transparent
        transition-duration: .4s
        display: block
        width: 100%
        &.active
          border: 1px solid #57B560
</style>