<template lang="pug">
  textarea.textarea(
    placeholder="Введите ваш текст"
    )
</template>
<style lang="sass">
    .textarea
        background-color: white
        border: 1px solid #E8EAED
        border-radius: 4px
        padding: 10px 15px
        width: 100%
        font-size: 16px
        height: 230px
        font-family: 'PTRootUI'
        resize: none

</style>