<template lang="pug">
  ul.toggle-list
    li(
        v-for='(item, index) in list'
    )
        button.toggle-list__item(
          v-bind:class="{ active: item.active }"
          @click='toggleActive(item)'
        ) {{ item.title }}

</template>
<script>
export default {
  props: ['list'],
  methods: {
    toggleActive(item){
      this.list.forEach((el) => {
        el.active = false;
      })
      item.active = true;
    },
  }
}
</script>
<style lang="sass">
  .toggle-list
    display: flex
    grid-gap: 8px
    flex-wrap: wrap
    li
      grid-row: 1

  .toggle-list__item
    font-size: 14px
    font-weight: 500
    color: #535557
    width: 100%
    border-radius: 6px
    background-color: #F2F5F6
    transition-duration: .4s
    padding: 5px 17px
    border: 1px solid transparent
    &.active
      background-color: #E5F4EB
      border: 1px solid #54CA7E
    &:hover
      background-color: #E5F4EB
      
</style>