<template lang="pug">
  .t1-main
    Header(
      :data='data.header'
      :contacts='data.contacts'
      v-if='data.header'
    )
    Hero(
      :data='data.hero'
      v-if='data.hero'
    )
    Catalog(
      :data='data.catalog'
      v-if='data.catalog'
    )
    Footer(
      :data='data.contacts'
    )
</template>
<script>
import Header from '~/components/blocks/constructor/template-1/Header.vue'
import Hero from '~/components/blocks/constructor/template-1/Hero.vue'
import Catalog from '~/components/blocks/constructor/template-1/Catalog.vue'
import Footer from '~/components/blocks/constructor/template-1/Footer.vue'

export default {
  props: ["data"],
  components: {
    Header,
    Hero,
    Catalog,
    Footer
  }
}
</script>
<style lang="sass">
  .t1-main
    height: 100%
    overflow-x: hidden
    &::-webkit-scrollbar
      width: 0
      background: transparent

  .is-mobile, .is-tablet
    .t1-main
      overflow-x: initial
</style>