<template lang="pug">
  .t1-product.t1-main
    Header(
      :data='data.header'
      :contacts='data.contacts'
      v-if='data.header'
    )
    .t1-product__area.t1-container
      .t1-product__slider
        Gallery(
          :data='data.product.gallery'
        )
      .t1-product__aside
        .t1-product__title {{ data.product.title }}
        .t1-product__add
          .t1-product__price {{ `${data.product.price} ₽` }}
          .t1-product__add-part
            NumInput(:count='3')
            button.t1-button(@click='basketOpen()') Купить
        DescriptionList(
          :data='data.product.descriptionList'
        )
      .t1-product__bottom(v-bind:class="{ 'is-active': productBottomActive }")
        NumInput(:count='3')
        button.t1-button(@click='basketOpen()') Купить

    Footer(
      :data='data.contacts'
    )
    Modal(ref="basket" modalName='basket').t1-modal--basket
      Basket(:data='data.basketList' @trigger="data => infoOpen(data)")

    Modal(ref="basketItem" :localMode='true').t1-modal--basket-item
      BasketInfo(
        :data='basketInfo'
        @okTrigger="data => infoClose()"
      )
      
</template>
<script>
import Header from '~/components/blocks/constructor/template-1/Header.vue'
import Footer from '~/components/blocks/constructor/template-1/Footer.vue'
import Basket from '~/components/blocks/constructor/template-1/Basket.vue'
import Gallery from '~/components/elements/constructor/template-1/Gallery.vue'
import DescriptionList from '~/components/elements/constructor/template-1/DescriptionList.vue'
import NumInput from '~/components/elements/constructor/template-1/NumInput.vue'
import Modal from '~/components/elements/constructor/template-1/Modal.vue'
import BasketInfo from '~/components/elements/constructor/template-1/BasketInfo.vue'

export default {
  props: ["data"],
  data() {
    return {
      basketActive: false,
      productBottomActive: true,
      basketInfo: ''
    }
  },
  methods: {
    basketOpen(){
      this.$refs.basket.modalOpen();
    },
    productBottomHide(){
      this.productBottomActive = false;
    },
    infoOpen(data){
      this.basketInfo = data;
      this.$refs.basketItem.modalOpen();
    },
    infoClose(){
      this.$refs.basketItem.modalClose();
    }
  },
  components: {
    Header,
    Footer,
    Gallery,
    DescriptionList,
    NumInput,
    Modal,
    Basket,
    BasketInfo
  }
}
</script>
<style lang="sass">
  .t1-product
    background-color: white
    height: 100%
    font-family: Montserrat
    position: relative
    overflow-x: hidden

  .t1-product__bottom
    display: none
    background-color: white
    width: 100%
    z-index: 2
    bottom: 0
    left: 0
    position: fixed
    box-shadow: 0px 0px 8px rgba(0,0,0,.05)
    padding: 16px
    grid-template-columns: auto 1fr
    transition-duration: .4s
    transform: translateY(100%)
    grid-gap: 16px
    &.is-active
      transform: translateY(0)

  .t1-product__area
    display: grid
    grid-gap: 65px
    height: calc(100vh - 100px)
    padding-bottom: 50px
    overflow: hidden
    grid-template-columns: 2fr 1fr

  .t1-product__title
    font-weight: 500
    font-size: 24px
    color: $black

  .t1-product__slider
    width: 100%
    height: 100%
    overflow: hidden

  .t1-product__add
    display: flex
    margin: 30px 0
    grid-gap: 40px
    align-items: center
  
  .t1-product__price
    font-size: 16px
    font-weight: 500

  .t1-product__add-part
    display: flex
    grid-gap: 16px

  //Responsive styles
  .is-tablet
    .t1-product__bottom
      display: flex!important
      justify-content: space-between
      .t1-button
        width: 400px

  .is-tablet, .is-mobile
    .t1-product
      padding-bottom: 70px
    .t1-product__bottom
      display: grid

    .t1-product__aside
      margin-top: 30px 
    .t1-product__aside
      padding: 0 $unit

    .t1-product__area
      height: auto
      overflow: initial
      padding-left: 0
      padding-right: 0
      display: block

    .t1-product__add-part
      display: none

    .t1-product__add
      margin: 5px 0 30px

  .constructor-view
    .t1-product__area
      height: calc(100% - 100px)
    &.is-tablet, &.is-mobile

      .t1-product__area
        display: flex
        flex-direction: column
      
      .t1-product__aside
        padding: 0 16px

      .t1-product__bottom
        position: absolute

      .t1-product__area
        height: auto
      .t1-product
        height: initial
        

  
</style>