<template lang="pug">
  .page
    Header(
      menuBtn="true",
      publicBtn="true",
      arrows="true"
      :leftButtons='leftButtons'
    )
    .container
      .page-area
        .page-aside
          .aside-item
            .t-h5 Корзина
            .aside-controls
              DesignControl(
                direction='column'
                title='Почта для заказов'
                type='input'
                :context='field1'
              )
              DesignControl(
                direction='column'
                title='Заголовок письма'
                type='input'
                :context='field2'
              )
              DesignControl(
                direction='column'
                title='Заголовок корзины'
                type='input'
                :context='field3'
              )
              DesignControl(
                direction='column'
                title='Текст кнопки'
                type='input'
                :context='field4'
              )
              Editor(
                title="Описание корзины"
              )
              DesignControl(
                direction='column'
                title='Заголовок сообщения о покупке'
                type='input'
                :context='field5'
              )
              Editor(
                title="Текст сообщения"
              )

        .page-content
          ConstructorView(
            :tabs='tabs'
          )
    
</template>

<script>
import Header from '~/components/blocks/client/Header.vue';
import ConstructorView from '~/components/blocks/client/ConstructorView.vue';
import DesignControl from '~/components/blocks/client/DesignControl.vue';
import Editor from '~/components/elements/client/Editor.vue';

export default {
  data: () => {
    return{
      leftButtons: ["saveBtn", "cancelBtn"],
      tabs: [
        {
          icon: {
            width: 10,
            height: 16,
            name: "icon-mobile"
          },
          attribute: "mobile",
          active: false
        },
        {
          icon: {
            width: 16,
            height: 21,
            name: "icon-tablet"
          },
          attribute: "tablet",
          active: false
        },
        {
          icon: {
            width: 32,
            height: 23,
            name: "icon-desktop"
          },
          attribute: "desktop",
          active: true
        },
      ],
      field1: {
        placeholder: "mail@mail.com",
        value: "mail@mail.com"
      },
      field2: {
        placeholder: "Новый заказ",
        value: "Новый заказ"
      },
      field3: {
        placeholder: "Корзина",
        value: "Корзина"
      },
      field4: {
        placeholder: "Оформить заказ",
        value: "Оформить заказ"
      },
      field5: {
        placeholder: "Спасибо",
        value: "Спасибо"
      },
    }
  },
  components: {
    Header,
    ConstructorView,
    DesignControl,
    Editor
  },
};
</script>

<style lang="sass">

</style>