<template lang="pug">
  ProductPage(
    :data='constructorData'
  )
    
</template>

<script>
import ProductPage from '~/components/constructor-pages/template-1/ProductPage.vue';

export default {
  data: () => {
    return{
      constructorData: {
        header: {
          logo: "De studio",
          menu: [
            {
              title: "Все",
              slug: "/#"
            },
            {
              title: "Стулья",
              slug: "/#"
            },
            {
              title: "Столы",
              slug: "/#"
            },
            {
              title: "Диваны",
              slug: "/#"
            },
            {
              title: "Кровати",
              slug: "/#"
            },
            {
              title: "Хранение",
              slug: "/#"
            },
            {
              title: "Аксессуары",
              slug: "/#"
            }
          ],
          contacts: {
            phone: {
              title: "8 812 123-45-67",
              url: "+78121234567"
            },
            instagram: "instagram.com/qwerty"
          }
        },
        contacts: {
          email: "info@mail.com",
          phone: {
            clear: "+781289234433",
            formatted: "+812 892 344 33"
          },
          city: "Москва"
        },
        product: {
          title: "Rampa",
          price: "30 980",
          gallery: [
            {
              image: "/img/product.jpg",
              preview: "/img/product-thumb.jpg",
            },
            {
              image: "/img/product.jpg",
              preview: "/img/product-thumb.jpg",
            },
            {
              image: "/img/product.jpg",
              preview: "/img/product-thumb.jpg",
            },
            {
              image: "/img/product.jpg",
              preview: "/img/product-thumb.jpg",
            },
            {
              image: "/img/product.jpg",
              preview: "/img/product-thumb.jpg",
            },
            {
              image: "/img/product.jpg",
              preview: "/img/product-thumb.jpg",
            }
          ],
          descriptionList: [
            {
              title: "Описание",
              active: false,
              content: "Времена проходят, и модные тенденции сменяют одна другую, но элегантность дивана Indivi 2 неподвластна времени. Этот диван идеально подойдет любителям лаконичных современных интерьеров. Низкие подлокотники - броский элемент, создающий симбиоз комфорта и стильного дизайна. В ночное время этот диван легко превращается в кровать для двоих.",
            },
            {
              title: "Размеры и вес",
              active: false,
              content: "Времена проходят, и модные тенденции сменяют одна другую, но элегантность дивана Indivi 2 неподвластна времени. Этот диван идеально подойдет любителям лаконичных современных интерьеров. Низкие подлокотники - броский элемент, создающий симбиоз комфорта и стильного дизайна. В ночное время этот диван легко превращается в кровать для двоих.",
            },
            {
              title: "Материалы",
              active: false,
              content: "Времена проходят, и модные тенденции сменяют одна другую, но элегантность дивана Indivi 2 неподвластна времени. Этот диван идеально подойдет любителям лаконичных современных интерьеров. Низкие подлокотники - броский элемент, создающий симбиоз комфорта и стильного дизайна. В ночное время этот диван легко превращается в кровать для двоих.",
            },
            {
              title: "Покрытие",
              active: false,
              content: "Времена проходят, и модные тенденции сменяют одна другую, но элегантность дивана Indivi 2 неподвластна времени. Этот диван идеально подойдет любителям лаконичных современных интерьеров. Низкие подлокотники - броский элемент, создающий симбиоз комфорта и стильного дизайна. В ночное время этот диван легко превращается в кровать для двоих.",
            },
            {
              title: "Сборка",
              active: false,
              content: "Времена проходят, и модные тенденции сменяют одна другую, но элегантность дивана Indivi 2 неподвластна времени. Этот диван идеально подойдет любителям лаконичных современных интерьеров. Низкие подлокотники - броский элемент, создающий симбиоз комфорта и стильного дизайна. В ночное время этот диван легко превращается в кровать для двоих.",
            },
            {
              title: "Инструкции по сборке",
              active: false,
              content: "Времена проходят, и модные тенденции сменяют одна другую, но элегантность дивана Indivi 2 неподвластна времени. Этот диван идеально подойдет любителям лаконичных современных интерьеров. Низкие подлокотники - броский элемент, создающий симбиоз комфорта и стильного дизайна. В ночное время этот диван легко превращается в кровать для двоих.",
            }
          ]
        },
        basketList: [
          {
            image: "/img/product-thumb.jpg",
            title: "Нижнее платье мини",
            price: "33 680",
            description: "Indivi",
            count: 2
          },
          {
            image: "/img/product-thumb.jpg",
            title: "Indivi",
            price: "33 680",
            description: "Диван кровать Indivi",
            count: 3
          },
          {
            image: "/img/product-thumb.jpg",
            title: "Indivi",
            price: "33 680",
            description: "Диван кровать Indivi",
            count: 2
          },
          {
            image: "/img/product-thumb.jpg",
            title: "Indivi",
            price: "33 680",
            description: "Диван кровать Indivi",
            count: 5
          },
        ]
      }
    }
  },
  components: {
    ProductPage
  },
};
</script>