<template lang="pug">
  MainPage(
    :data='constructorData'
  )
</template>

<script>
import MainPage from '~/components/constructor-pages/template-1/MainPage.vue';

export default {
  data: () => {
    return{
      constructorData: {
        header: {
          logo: "De studio",
          menu: [
            {
              title: "Все",
              slug: "/#"
            },
            {
              title: "Стулья",
              slug: "/#"
            },
            {
              title: "Столы",
              slug: "/#"
            },
            {
              title: "Диваны",
              slug: "/#"
            },
            {
              title: "Кровати",
              slug: "/#"
            },
            {
              title: "Хранение",
              slug: "/#"
            },
            {
              title: "Аксессуары",
              slug: "/#"
            }
          ],
          contacts: {
            phone: {
              title: "8 812 123-45-67",
              url: "+78121234567"
            },
            instagram: "instagram.com/qwerty"
          }
        },
        hero: {
          title: "Design Furniture",
          subtitle: "Только оригинальные модели с  сертификатами качества",
          background: "/img/contructor-hero_bg.jpg",
          type: "full",
          contentPosition: "middle"
        },
        contacts: {
          email: "info@mail.com",
          phone: {
            clear: "+781289234433",
            formatted: "+812 892 344 33"
          },
          city: "Москва"
        },
        catalog: {
          columns: 2,
          cardView: "three",
          mobileColumns: 1,
          categories: [
            { title: "Все", slug: "#", active: true },
            { title: "Стулья", slug: "#" },
            { title: "Столы", slug: "#" },
            { title: "Диваны", slug: "#" },
            { title: "Кровати", slug: "#" },
            { title: "Хранение", slug: "#" },
            { title: "Аксессуары", slug: "#" },
          ],
          filters: [
            {
              title: "Материал",
              active: true,
              list: [
                { title: "Дерево", alt: "wood", active: true },
                { title: "Металл", alt: "metall", active: false },
                { title: "Пластик", alt: "plastic", active: false },
                { title: "Стекло", alt: "glass", active: false },
              ]
            },
            {
              title: "Цвет",
              active: false,
              list: [
                { title: "Черный", alt: "black", active: true },
                { title: "Белый", alt: "white", active: false },
                { title: "Бардовый", alt: "red", active: false },
                { title: "Хаки", alt: "green", active: false },
              ]
            },
            {
              title: "Цена",
              active: false,
              list: [
                { title: "По убыванию", alt: "less", active: true },
                { title: "По возрастанию", alt: "more", active: false },
              ]
            },
            {
              title: "Размер",
              active: false,
              list: [
                { title: "Большой", alt: "big", active: true },
                { title: "Маленький", alt: "small", active: false }
              ]
            },
          ],
          list: [
            {
              image: "/img/good.png",
              title: "Adelaide",
              description: "Cтул Adelaide с функцией вращения",
              propsList: [
                { title: "Количество спален", value: 2 },
                { title: "Гостиная с кухней", value: true },
                { title: "Душевая", value: true },
                { title: "Балкон", value: false },
              ],
              price: "65 347",
              slug: "/#"
            },
            {
              image: "/img/good.png",
              title: "Adelaide",
              description: "Cтул Adelaide с функцией вращения",
              propsList: [
                { title: "Количество спален", value: 1 },
                { title: "Гостиная с кухней", value: true },
                { title: "Душевая", value: false },
                { title: "Балкон", value: true },
              ],
              price: "65 347",
              slug: "/#"
            },
            {
              image: "/img/good.png",
              title: "Adelaide",
              description: "Cтул Adelaide с функцией вращения",
              propsList: [
                { title: "Количество спален", value: 4 },
                { title: "Гостиная с кухней", value: false },
                { title: "Душевая", value: false },
                { title: "Балкон", value: true },
              ],
              price: "65 347",
              slug: "/#"
            },
            {
              image: "/img/good.png",
              title: "Adelaide",
              description: "Cтул Adelaide с функцией вращения",
              propsList: [
                { title: "Количество спален", value: 5 },
                { title: "Гостиная с кухней", value: true },
                { title: "Душевая", value: true },
                { title: "Балкон", value: true },
              ],
              price: "65 347",
              slug: "/#"
            },
            {
              image: "/img/good.png",
              title: "Adelaide",
              description: "Cтул Adelaide с функцией вращения",
              propsList: [
                { title: "Количество спален", value: 2 },
                { title: "Гостиная с кухней", value: true },
                { title: "Душевая", value: true },
                { title: "Балкон", value: false },
              ],
              price: "65 347",
              slug: "/#"
            },
            {
              image: "/img/good.png",
              title: "Adelaide",
              description: "Cтул Adelaide с функцией вращения",
              propsList: [
                { title: "Количество спален", value: 1 },
                { title: "Гостиная с кухней", value: true },
                { title: "Душевая", value: false },
                { title: "Балкон", value: true },
              ],
              price: "65 347",
              slug: "/#"
            },
            {
              image: "/img/good.png",
              title: "Adelaide",
              description: "Cтул Adelaide с функцией вращения",
              propsList: [
                { title: "Количество спален", value: 4 },
                { title: "Гостиная с кухней", value: false },
                { title: "Душевая", value: false },
                { title: "Балкон", value: true },
              ],
              price: "65 347",
              slug: "/#"
            },
            {
              image: "/img/good.png",
              title: "Adelaide",
              description: "Cтул Adelaide с функцией вращения",
              propsList: [
                { title: "Количество спален", value: 5 },
                { title: "Гостиная с кухней", value: true },
                { title: "Душевая", value: true },
                { title: "Балкон", value: true },
              ],
              price: "65 347",
              slug: "/#"
            },
            {
              image: "/img/good.png",
              title: "Adelaide",
              description: "Cтул Adelaide с функцией вращения",
              propsList: [
                { title: "Количество спален", value: 2 },
                { title: "Гостиная с кухней", value: true },
                { title: "Душевая", value: true },
                { title: "Балкон", value: false },
              ],
              price: "65 347",
              slug: "/#"
            },
            {
              image: "/img/good.png",
              title: "Adelaide",
              description: "Cтул Adelaide с функцией вращения",
              propsList: [
                { title: "Количество спален", value: 1 },
                { title: "Гостиная с кухней", value: true },
                { title: "Душевая", value: false },
                { title: "Балкон", value: true },
              ],
              price: "65 347",
              slug: "/#"
            },
            {
              image: "/img/good.png",
              title: "Adelaide",
              description: "Cтул Adelaide с функцией вращения",
              propsList: [
                { title: "Количество спален", value: 4 },
                { title: "Гостиная с кухней", value: false },
                { title: "Душевая", value: false },
                { title: "Балкон", value: true },
              ],
              price: "65 347",
              slug: "/#"
            },
            {
              image: "/img/good.png",
              title: "Adelaide",
              description: "Cтул Adelaide с функцией вращения",
              propsList: [
                { title: "Количество спален", value: 5 },
                { title: "Гостиная с кухней", value: true },
                { title: "Душевая", value: true },
                { title: "Балкон", value: true },
              ],
              price: "65 347",
              slug: "/#"
            },
            {
              image: "/img/good.png",
              title: "Adelaide",
              description: "Cтул Adelaide с функцией вращения",
              propsList: [
                { title: "Количество спален", value: 2 },
                { title: "Гостиная с кухней", value: true },
                { title: "Душевая", value: true },
                { title: "Балкон", value: false },
              ],
              price: "65 347",
              slug: "/#"
            },
            {
              image: "/img/good.png",
              title: "Adelaide",
              description: "Cтул Adelaide с функцией вращения",
              propsList: [
                { title: "Количество спален", value: 1 },
                { title: "Гостиная с кухней", value: true },
                { title: "Душевая", value: false },
                { title: "Балкон", value: true },
              ],
              price: "65 347",
              slug: "/#"
            },
            {
              image: "/img/good.png",
              title: "Adelaide",
              description: "Cтул Adelaide с функцией вращения",
              propsList: [
                { title: "Количество спален", value: 4 },
                { title: "Гостиная с кухней", value: false },
                { title: "Душевая", value: false },
                { title: "Балкон", value: true },
              ],
              price: "65 347",
              slug: "/#"
            },
            {
              image: "/img/good.png",
              title: "Adelaide",
              description: "Cтул Adelaide с функцией вращения",
              propsList: [
                { title: "Количество спален", value: 5 },
                { title: "Гостиная с кухней", value: true },
                { title: "Душевая", value: true },
                { title: "Балкон", value: true },
              ],
              price: "65 347",
              slug: "/#"
            },
            
          ],
        }
      }
    }
  },
  components: {
    MainPage
  },
};
</script>