<template lang="pug">
  .page
    Header(
      menuBtn="true",
      publicBtn="true",
      arrows="true"
      :leftButtons='leftButtons'
    )
    .container
      .page-area
        .page-aside
          .aside-item
            .t-h5 Контент
            .aside-controls
              nuxt-link.link.link--green(to="/") Редактировать Google таблицу
              nuxt-link.link.link--iconic(to="/")
                svg-icon(name="pen" width="14px" height="14px")
                span Изменить ссылку
              DesignControl(
                direction='column'
                title='Заголовок карточки'
                type='select'
                :context='control1'
              )
              DesignControl(
                direction='column'
                title='Короткое описание'
                type='select'
                :context='control2'
              )
              DesignControl(
                direction='column'
                title='Цена'
                type='select'
                :context='control3'
              )
              DesignControl(
                direction='column'
                title='Текст'
                type='select'
                :context='control4'
              )
              DesignControl(
                direction='column'
                title='Изображения'
                type='select'
                :context='control6'
              )
              DesignControl(
                direction='column'
                title='Список свойств'
                type='select'
                :context='control5'
              )
              DesignControl(
                direction='row'
                title='Кнопка'
                type="checkbox"
                name="theme"
              )
              nuxt-link.link.link--black(to="/") Купить
              DesignControl(
                direction='row'
                title='Соц. сети'
                type="checkbox"
                name="theme"
              )
              DesignControl(
                direction='row'
                title='Телефон'
                type="checkbox"
                name="theme"
              )
              DesignControl(
                direction='column'
                title='Номер телефона'
                type='input'
                :context='field1'
              )
              DesignControl(
                direction='row'
                title='Поиск'
                type="checkbox"
                name="theme"
              )
              DesignControl(
                direction='row'
                title='Категории'
                type="checkbox"
                name="theme"
              )
              DesignControl(
                direction='column'
                type='select'
                :context='control7'
              )
              DesignControl(
                direction='row'
                title='Категории в шапке сайта'
                type="checkbox"
                name="theme"
              )
              DesignControl(
                direction='row'
                title='Фильтр'
                type="checkbox"
                name="theme"
              )
              DesignControl(
                direction='column'
                type='select'
                :context='control8'
              )
              DesignControl(
                direction='row'
                title='Сортировка'
                type="checkbox"
                name="theme"
              )
              DesignControl(
                direction='row'
                title='Пагинация'
                type="checkbox"
                name="theme"
              )

        .page-content
          ConstructorView(
            :tabs='tabs'
          )
    
</template>

<script>
import Header from '~/components/blocks/client/Header.vue';
import ConstructorView from '~/components/blocks/client/ConstructorView.vue';
import DesignControl from '~/components/blocks/client/DesignControl.vue';

export default {
  data: () => {
    return{
      leftButtons: ["saveBtn", "cancelBtn"],
      tabs: [
        {
          icon: {
            width: 10,
            height: 16,
            name: "icon-mobile"
          },
          attribute: "mobile",
          active: false
        },
        {
          icon: {
            width: 16,
            height: 21,
            name: "icon-tablet"
          },
          attribute: "tablet",
          active: false
        },
        {
          icon: {
            width: 32,
            height: 23,
            name: "icon-desktop"
          },
          attribute: "desktop",
          active: true
        },
      ],
      control1: {
        list: ["Пункт 1", "Пункт 2", "Пункт 3"],
        selected: "Пункт 1"
      },
      control2: {
        list: ["Пункт 1", "Пункт 2", "Пункт 3"],
        selected: "Пункт 1"
      },
      control3: {
        list: ["Пункт 1", "Пункт 2", "Пункт 3"],
        selected: "Пункт 1"
      },
      control4: {
        list: ["Пункт 1", "Пункт 2", "Пункт 3"],
        selected: "Пункт 1"
      },
      control5: {
        list: ["Пункт 1", "Пункт 2", "Пункт 3"],
        selected: "Пункт 1"
      },
      control6: {
        list: ["Пункт 1", "Пункт 2", "Пункт 3"],
        selected: "Пункт 1",
        type: "taggable"
      },
      control7: {
        list: ["Пункт 1", "Пункт 2", "Пункт 3"],
        selected: "Пункт 1",
        type: "taggable"
      },
      control8: {
        list: ["Пункт 1", "Пункт 2", "Пункт 3"],
        selected: "Пункт 1",
        type: "taggable"
      },
      field1: {
        placeholder: "Номер телефона",
        value: "Номер телефона"
      },
    }
  },
  components: {
    Header,
    ConstructorView,
    DesignControl
  },
};
</script>

<style lang="sass">

</style>