<template lang="pug">
  .page
    Header(
      menuBtn="true",
      publicBtn="true",
      :leftButtons='leftButtons'
    )
    .container
      .page-area
        .page-aside
          .aside-item
            .t-h5 Дизайн
            ul.aside-item__list
              li(v-for='item in designMenu')
                nuxt-link(
                  class="aside-item__link t-h6"
                  :to='item.slug'
                )
                  span {{ item.title }}
                  svg-icon(name="arrow-back" width="6px" height="12px")
          // Дизайн
          .aside-item
            .t-h5 Дизайн
            .aside-controls
              DesignControl(
                direction='column'
                title='Тип каталога'
                type='templates-switch'
                :context='control1'
              )
              DesignControl(
                direction='row'
                title='Тёмная тема'
                type="checkbox"
                name="theme"
              )
              DesignControl(
                direction='row'
                title='Цвет фона'
                type="colorpicker"
                color="#cc0000"
              )

          // Заголовок
          .aside-item
            .t-h5 Заголовок
            .aside-controls
              ColorInput(
                type="basic"
                color="#cc0000"
                value="Новая коллекция украшений"
              )
              DesignControl(
                direction='column'
                title='Размер заголовка'
                type="togglelist"
                :context='control3'
              )
              DesignControl(
                direction='column'
                title='Жирность'
                type="togglelist"
                :context='control4'
              )

          // Подзаголовок
          .aside-item
            .t-h5 Подзаголовок
            .aside-controls
              ColorInput(
                type="title"
                color="#1DB954"
                value="Мы хорошие, покупайте у нас"
              )
              DesignControl(
                direction='column'
                title='Размер подзаголовка'
                type="togglelist"
                :context='control6'
              )

          // Обложка
          .aside-item
            .t-h5 Обложка
            .aside-controls
              Cover(
                image="/img/templates/template-2.jpg"
              )
              DesignControl(
                direction='column'
                title='Тип обложки'
                type='templates-switch'
                :context='control2'
              )
              DesignControl(
                direction='column'
                title='Расположение заголовка'
                type='templates-switch'
                :context='control5'
              )

          // Логотип
          .aside-item
            .t-h5 Логотип
            .aside-controls
              DesignControl(
                direction='column'
                type='file-input'
                :context='control12'
              )
              DesignControl(
                direction='column'
                title='Размер логотипа'
                type="togglelist"
                :context='control7'
              )

          // Кнопки
          .aside-item
            .t-h5 Кнопки
            .aside-controls
              DesignControl(
                direction='column'
                title='Форма кнопок'
                type="togglelist"
                :context='control8'
              )
              DesignControl(
                direction='row'
                title='Цвет кнопок'
                type="colorpicker"
                color="#cc0000"
              )
              DesignControl(
                direction='row'
                title='Цвет текста кнопок'
                type="colorpicker"
                color="#cc0000"
              )

          // Фильтр и сортировка
          .aside-item
            .t-h5 Фильтр и сортировка
            .aside-controls
              DesignControl(
                direction='column'
                title='Форма фильтра'
                type="togglelist"
                :context='control9'
              )
              DesignControl(
                direction='column'
                title='Форма сортировки'
                type="togglelist"
                :context='control10'
              )
              Editor(
                title="Описание"
              )

          // Футер
          .aside-item
            .aside-controls
              Editor(
                title="Текст футера"
              )

          // Шрифтовая пара
          .aside-item
            .t-h5 Шрифтовая пара
            .aside-controls
              FontPair(
                :list='control11'
              )
        .page-content
          ConstructorView(
            :tabs='tabs'
          )
    
</template>

<script>
import Header from '~/components/blocks/client/Header.vue';
import ConstructorView from '~/components/blocks/client/ConstructorView.vue';
import DesignControl from '~/components/blocks/client/DesignControl.vue';
import ColorInput from '~/components/elements/client/ColorInput.vue';
import Editor from '~/components/elements/client/Editor.vue';
import Cover from '~/components/elements/client/Cover.vue';
import FontPair from '~/components/elements/client/FontPair.vue';

export default {
  data: () => {
    return{
      leftButtons: ["backBtn"],
      tabs: [
        {
          icon: {
            width: 10,
            height: 16,
            name: "icon-mobile"
          },
          attribute: "mobile",
          active: false
        },
        {
          icon: {
            width: 32,
            height: 23,
            name: "icon-desktop"
          },
          attribute: "desktop",
          active: true
        },
      ],
      designMenu: [
        {
          slug: '#',
          title: 'Карточка товара'
        },
        {
          slug: '#',
          title: 'Страница товара'
        },
        {
          slug: '#',
          title: 'Корзина'
        },
        {
          slug: '#',
          title: 'Шрифт'
        },
      ],
      control1: [
        { img: `/img/controls/templates/template-1.svg`, active: true },
        { img: `/img/controls/templates/template-2.svg`, active: false }
      ],
      control2: [
        { img: `/img/controls/templates/template-1.svg`, active: true },
        { img: `/img/controls/templates/template-2.svg`, active: false },
        { img: `/img/controls/templates/template-1.svg`, active: false }
      ],
      control3: [
        {title: "XS", active: false},
        {title: "S", active: false},
        {title: "M", active: true},
        {title: "L", active: false},
        {title: "XL", active: false}
      ],
      control4: [
        {title: "L", active: false},
        {title: "R", active: false},
        {title: "B", active: true},
        {title: "SB", active: false},
        {title: "H", active: false}
      ],
      control5: [
        { img: `/img/controls/templates/template-1.svg`, active: true },
        { img: `/img/controls/templates/template-2.svg`, active: false },
        { img: `/img/controls/templates/template-1.svg`, active: false }
      ],
      control6: [
        {title: "xs", active: false},
        {title: "s", active: false},
        {title: "m", active: true},
        {title: "l", active: false},
        {title: "xl", active: false}
      ],
      control7: [
        {title: "xs", active: false},
        {title: "s", active: true},
        {title: "m", active: false},
        {title: "l", active: false},
        {title: "xl", active: false}
      ],
      control8: [
        {title: "Круглые", active: true},
        {title: "Скругленные", active: false},
        {title: "Квадратные", active: false},
      ],
      control9: [
        {title: "Выпадающий список", active: true},
        {title: "Пункты", active: false},
      ],
      control10: [
        {title: "Выпадающий список", active: true},
        {title: "Пункты", active: false},
      ],
      control11: [
        {
          firstFont: "Travels",
          secondFont: "montserrat",
          active: true  
        },
        {
          firstFont: "montserrat",
          secondFont: "Travels",
          active: false  
        },
        {
          firstFont: "Inter",
          secondFont: "PTRootUI",
          active: false 
        },
        {
          firstFont: "PTRootUI",
          secondFont: "Inter",
          active: false
        }
      ],
      control12: {
        title: "Загрузить логотип",
        description: "В svg лого выглядит лучше всего"
      }
    }
  },
  components: {
    Header,
    ConstructorView,
    DesignControl,
    ColorInput,
    Editor,
    Cover,
    FontPair
  },
};
</script>