<template lang="pug">
  .home
    Header(
      landingBtns="true"
      langBtn="true",
      logo="true",
      menuBtnMobile="true"
    )
    .home-section.home-hero
      .container-content
        .home-hero__area
          .home-hero__content
            .home-title.t-h1 Создайте стильный сайт и управляйте им с помощью Google Таблиц
            p Затем используйте электронные таблицы, чтобы быстро и легко управлять  контентом
            nuxt-link(to="#").link.link--green Создать сайт бесплатно
          .home-hero__image
            video(width="100%" height="100%" loop muted playsinline webkit-playinginline autoplay )
              source(src="/videos/home-head.mp4" type="video/mp4")
    .home-section
      .container-content
        .home-title.t-h1 От идеи до реальности 20 минут
        .home-steps
          .home-steps__part
            video(width="100%" height="100%" loop muted playsinline webkit-playinginline autoplay )
              source(src="/videos/home-steps.mp4" type="video/mp4")
          .home-steps__part
            ul.home-steps__list
              li.home-steps__item
                .home-steps__item-count.t-h4 01.
                .home-steps__item-content
                  .t-h4 Выберите шаблон и настройте дизайн
                  p Выберите любой из наших шаблонов, который наилучшим образом соответствует вашему личному стилю и профессиональным потребностям.
              li.home-steps__item
                .home-steps__item-count.t-h4 02.
                .home-steps__item-content
                  .t-h4 Занесите данные в гугл таблицу
                  p Добавляйте новые товары, обновляйте цены и наличие товаров всего за несколько кликов в Google Таблицах - инструменте, с которым вы действительно знакомы.
              li.home-steps__item
                .home-steps__item-count.t-h4 03.
                .home-steps__item-content
                  .t-h4 Опубликуйте
                  p Перед публикацией вы можете добавить текст о себе или своей компании, указать контакты или любую иную информацию
            nuxt-link(to="#").link.link--green Приступить
    .home-section.home-examples
      .container-content
        .home-title.t-h1 Примеры использования
      ExamplesTabs(
        :tabs='examplesTabs'
      )
    .home-section.home-odds
      .container-content#scroll-odds
        .home-odds__scroll-trigger(ref="odd-1" data-odd="1")
        .home-odds__scroll-trigger(ref="odd-2" data-odd="2")
        .home-odds__scroll-trigger(ref="odd-3" data-odd="3")
        .home-odds__inner(data-scroll data-scroll-sticky data-scroll-target="#scroll-odds")
          .home-odds__part
            .home-title.t-h1 Почему Rigma?
            img(src="/img/home-odds.svg").media-max--tab.home-odds__image
            OddsList(
              :tabs='oddsList'
            )
          .home-odds__part.media-min--tab
            img(src="/img/home-odds.svg")
    .home-section.home-starting
      .container-content
        .home-title.t-h1.t-tac Выберите свою отправную точку
        .home-starting__scroll(id="scroll-direction")
          .home-starting__scroll-inner
            ScrollList(:list='startingList' data-scroll data-scroll-target="#scroll-direction" data-scroll-direction="horizontal" data-scroll-speed="-5")
            ScrollList(:list='startingList2' data-scroll data-scroll-target="#scroll-direction" data-scroll-direction="horizontal" data-scroll-speed="5")
      .home-starting__footer
        nuxt-link(to="/starting_point").home-starting__link.link--underline.media-min--tab-sm Посмотреть шаблоны
        nuxt-link(to="/starting_point").link.link--green.media-max--tab-sm Посмотреть шаблоны
    .home-section
      .container-content
        .home-footer
          .home-title.t-h1.t-tac Хватит уже мечтать о своем бизнесе! Запусти его бесплатно вместе с Rigma! 
          nuxt-link(to="/registration").link.link--green Создать сайт бесплатно
          img(src="/img/home-footer.svg").home-footer__image
</template>

<script>
import Header from '~/components/blocks/client/Header.vue';
import ScrollList from '~/components/blocks/client/ScrollList.vue';
import OddsList from '~/components/blocks/client/OddsList.vue';
import ExamplesTabs from '~/components/blocks/client/ExamplesTabs.vue';

export default {
  data: () => {
    return{
      lmS: null,
      startingList: [
        {
          link: "#",
          image: "/img/templates/template-1.jpg"
        },
        {
          link: "/",
          image: "/img/templates/template-2.jpg"
        },
        {
          link: "/",
          image: "/img/templates/template-3.jpg"
        },
        {
          link: "/",
          image: "/img/templates/template-4.jpg"
        },
        {
          link: "/",
          image: "/img/templates/template-5.jpg"
        }
      ],
      startingList2: [
        {
          link: "#",
          image: "/img/templates/template-5.jpg"
        },
        {
          link: "/",
          image: "/img/templates/template-4.jpg"
        },
        {
          link: "/",
          image: "/img/templates/template-3.jpg"
        },
        {
          link: "/",
          image: "/img/templates/template-2.jpg"
        },
        {
          link: "/",
          image: "/img/templates/template-1.jpg"
        }
      ],
      oddsList: [
        {
          title: "Легко управлять данными",
          description: "Используйте возможности Google Таблиц для управления своими запасами, ценами и заказами. Он поддерживает формулы и выражения, совместное редактирование, чаты и многие другие функции.",
          active: true,
          icon: 'img/odd-1.svg'
        },
        {
          title: "Невероятно быстрая установка",
          description: "Он поддерживает формулы и выражения, совместное редактирование, чаты и многие другие функции.",
          active: false,
          icon: 'img/odd-2.svg'
        },
        {
          title: "Функциональный дизайн",
          description: "Добавляйте новые товары, обновляйте цены и наличие товаров всего за несколько кликов в Google Таблицах - инструменте, с которым вы действительно знакомы.",
          active: false,
          icon: 'img/odd-3.svg'
        },
      ],
      examplesTabs: [
        {
          tabTitle: "Магазин",
          title: "Интернет магазины",
          content: `
            <p>Управление заказами и запасами больше не является проблемой. Добавляйте новые товары, 
            обновляйте цены и наличие товаров всего за несколько кликов в Google Таблицах - инструменте, 
            с которым вы действительно знакомы. <b>Также вы можете привязать ваши цены к курсу валют, чтобы 
            цена на сайте автоматически менялась в зависимости от курса.</b> <a href="#">Как это сделать?</a></p>
            <p>Изменения, внесенные вами в инвентарный лист, мгновенно отображаются на вашем веб-сайте. Это особенно удобно, если вы часто вносите изменения.</p>
            <p>Используйте бесконечное множество формул и функций в Google Таблицах для быстрого расчета цен, обменных курсов, импорта данных, объединения данных из нескольких листов и т. д.</p>
          `,
          mobileImage: "/img/examples/mobile-example-1.png",
          desktopImage: "/img/examples/desktop-example-1.png",
          tableImage: "/img/examples/table-example-1.png",
          active: true,
          rolled: true
        },
        {
          tabTitle: "Кафе и рестораны",
          title: "Кафе",
          content: `
            <p>Управление заказами и запасами больше не является проблемой. Добавляйте новые товары, 
            обновляйте цены и наличие товаров всего за несколько кликов в Google Таблицах - инструменте, 
            с которым вы действительно знакомы. <b>Также вы можете привязать ваши цены к курсу валют, чтобы 
            цена на сайте автоматически менялась в зависимости от курса.</b> <a href="#">Как это сделать?</a></p>
            <p>Используйте бесконечное множество формул и функций в Google Таблицах для быстрого расчета цен, обменных курсов, импорта данных, объединения данных из нескольких листов и т. д.</p>
          `,
          desktopImage: "/img/examples/desktop-example-1.png",
          mobileImage: "/img/examples/mobile-example-1.png",
          active: false,
          rolled: true
        },
        {
          tabTitle: "Отели и гостиницы",
          title: "Отели и гостиницы",
          content: `
            <p>Используйте бесконечное множество формул и функций в Google Таблицах для быстрого расчета цен, обменных курсов, импорта данных, объединения данных из нескольких листов и т. д.</p>
          `,
          desktopImage: "/img/examples/desktop-example-1.png",
          tableImage: "/img/examples/table-example-1.png",
          active: false,
          rolled: true
        },
        {
          tabTitle: "Красота",
          title: "Красота",
          content: `
            <p>Управление заказами и запасами больше не является проблемой. Добавляйте новые товары, 
            обновляйте цены и наличие товаров всего за несколько кликов в Google Таблицах - инструменте, 
            с которым вы действительно знакомы. <b>Также вы можете привязать ваши цены к курсу валют, чтобы 
            цена на сайте автоматически менялась в зависимости от курса.</b> <a href="#">Как это сделать?</a></p>
            <p>Используйте бесконечное множество формул и функций в Google Таблицах для быстрого расчета цен, обменных курсов, импорта данных, объединения данных из нескольких листов и т. д.</p>
          `,
          mobileImage: "/img/examples/mobile-example-1.png",
          desktopImage: "/img/examples/desktop-example-1.png",
          active: false,
          rolled: true
        },
      ]
    }
  },
  mounted() {
      if(window.innerWidth > 1200){
        this.locoInit();
        this.observerInit();
      }
      this.browserDetect()
  },
  beforeDestroy(){
    this.locoDestroy();
  },
  methods: {
    locoInit(){
      this.lmS = new this.locomotiveScroll({
        el: this.$el,
        smoothMobile: false,
        smooth: true
      });
    },
    browserDetect(){
      const userAgent = navigator.userAgent.toLowerCase(); 
      if (userAgent .indexOf('safari')!=-1){ 
        if(userAgent .indexOf('chrome')  > -1){
          this.$el.classList.add("is-chrome");
        }else if((userAgent .indexOf('opera')  > -1)||(userAgent .indexOf('opr')  > -1)){
          this.$el.classList.add("is-opera");
        }else{
          this.$el.classList.add("is-safari");
        }
      }
    },
    observerInit(){
      var observer = new IntersectionObserver(entries => {
          entries.forEach(entry => {
            this.isVisible = entry.intersectionRatio > 0;
            if(entry.isIntersecting){
              this.oddsList.forEach((el) => {
                el.active = false;
              });
              this.oddsList[entry.target.dataset.odd - 1].active = true;
            }
            else{
              this.oddsList[entry.target.dataset.odd - 1].active = false;
            }
          });
        }
      );
      Object.values(this.$refs).forEach(el => {
        observer.observe(el);
      });
    },
    locoDestroy(){
      if(window.innerWidth > 1200){
        this.lmS.destroy();
      }
    }
  },
  components: {
    Header,
    ScrollList,
    OddsList,
    ExamplesTabs
  },
};
</script>

<style lang="sass">
  .home
    overflow-x: hidden
    .header
      margin-bottom: 0
    .link--green
      @media (max-width: 768px)
        width: 100%
        
  .home-section
    width: 100%
    padding-top: 14vh
    padding-bottom: 14vh
    @media (max-width: 1200px)
      padding-top: 60px
      padding-bottom: 60px
      
    &:nth-child(even)
      background-color: white

  .home-hero
    padding-top: 0
    padding-bottom: 0
    min-height: 100vh
    position: relative
    .container-content
      min-height: inherit
    @media (max-width: 1200px)
      padding-bottom: 55px


  .home-hero__area
    display: grid
    align-items: center
    grid-template-columns: 1fr 1fr
    grid-gap: 5vw
    padding-top: 17vh
    @media (max-width: 1200px)
      display: flex
      flex-direction: column-reverse

  .home-hero__image
    position: relative
    img 
      width: 100%

  .home-odds
    padding-top: 0
    @media (max-width: 1200px)
      background-color: white
      padding-bottom: 0
      
    .container-content
      padding-top: 14vh
      height: 300vh
      position: relative
      @media (max-width: 1200px)
        height: initial
        padding-top: 0
        padding-bottom: 0


  .home-odds__part
    @media (max-width: 1200px)
      width: 100%
    img
      @media (max-width: 1200px)
        max-height: 80vh

  .home-odds__scroll-trigger
    position: absolute
    width: 100%
    height: 1px
    left: 0
    &:nth-child(1)
      top: 0vh
    &:nth-child(2)
      top: 120vh
    &:nth-child(3)
      top: 250vh

  .home-odds__inner
    display: grid
    grid-template-columns: 40% 1fr
    grid-gap: 5vw
    @media (max-width: 1200px)
      display: block
    .home-title
      margin-bottom: 65px
      @media (max-width: 1200px)
        margin-bottom: 30px

  .home-odds__image
    width: 100%
    margin-bottom: 30px

  .home-examples
    .home-title
      margin-bottom: 35px
      

  .home-title
    line-height: 120%
    max-width: 850px
    &.t-tac
      margin: 0 auto

  .home-hero__content
    display: grid
    grid-gap: 40px
    @media (max-width: 500px)
      grid-gap: 30px
    p
      max-width: 370px
      @media (max-width: 500px)
        line-height: 120%
    .link
      max-width: 230px
      @media (max-width: 500px)
        max-width: initial

  .home-steps
    margin-top: 55px
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 5vw
    @media (max-width: 1200px)
      margin-top: 20px
      grid-template-columns: initial

  .home-steps__part
    position: relative
    img
      width: 100%
    video
      max-height: 400px
      object-fit: cover
      @media (max-width: 500px)
        margin-right: -20px
        margin-left: -20px
        width: calc(100% + 40px)
        
    .link
      margin: 30px 0 0 60px
      display: inline-block
      @media (max-width: 1200px)
        margin: 30px 0 0
      @media (max-width: 500px)
        width: 100%
        max-width: initial

  .home-steps__list
    display: grid
    grid-gap: 40px

  .home-steps__item
    display: flex
    align-items: flex-start

  .home-steps__item-count
    margin-right: 30px
    @media (max-width: 500px)
      font-size: 14px
      margin-right: 15px

  .home-steps__item-content
    p
      color: #555D6B
      line-height: 120%
      margin-top: 20px
      @media (max-width: 500px)
        font-size: 16px
        margin-top: 15px
  
  .home-footer
    display: grid
    justify-content: center
    .link
      max-width: 250px
      margin: 30px auto 0
  
  .home-footer__image
    margin: 50px auto
    width: 100%

  .home-starting
    .scroll-list
      @media (max-width: 768px)
        margin-left: -20px
      &:not(:last-child)
        margin-bottom: 60px
        @media (max-width: 768px)
            margin-bottom: 15px
            margin-left: -50vw

  .home-starting__footer
    display: flex
    width: 100%
    justify-content: center
    padding: 0 20px
    @media (max-width: 768px)
      margin-top: 40px    

  .home-starting__link   
    font-size: 56px
    margin-top: 40px
  
  .home-starting__scroll
    padding-top: 90px  
    @media (max-width: 768px)
      padding-top: 40px    

</style>