<template lang="pug">
  .page
    Header(
      menuBtn="true",
      langBtn="true",
      logo="true"
    )
    .registration__content
      .registration__inner
        .t-h1 Регистрация
        nuxt-link(to="#").link.link--google
          .icon
            img(src="/img/google-icon.png")
          span Продолжить с Google
</template>

<script>
import Header from '~/components/blocks/client/Header.vue';

export default {
  components: {
    Header
  },
};
</script>

<style lang="sass">
  .registration__content
    height: calc(100vh - 92px)
  .registration__inner
    margin-top: 30vh
    display: grid
    text-align: center
    justify-content: center
    grid-gap: 45px
</style>