<template lang="pug">
  .page
    Header(
      menuBtn="true",
      publicBtn="true",
      arrows="true"
      :leftButtons='leftButtons'
    )
    .container
      .page-area
        .page-aside
          .aside-item
            .t-h5 Настройки SEO
            .aside-controls
              DesignControl(
                title='Фавикон'
                direction='column'
                type='file-input'
                :context='control1'
              )
              DesignControl(
                title='Превью сайта'
                direction='column'
                type='file-input'
                :context='control2'
              )
              DesignControl(
                direction='column'
                title='Meta title'
                subtitle='Макс. длина 160 символов'
                type="textarea"
              )
              DesignControl(
                direction='column'
                title='Meta description'
                subtitle='Макс. длина 160 символов'
                type="textarea"
              )
              DesignControl(
                direction='row'
                title='Виден для поисковиков'
                type="checkbox"
                name="theme"
              )

        .page-content
          ConstructorView(
            :tabs='tabs'
          )
            ProductPage(
              :data='constructorData'
            )
    
</template>

<script>
import Header from '~/components/blocks/client/Header.vue';
import ConstructorView from '~/components/blocks/client/ConstructorView.vue';
import DesignControl from '~/components/blocks/client/DesignControl.vue';
import ProductPage from '~/components/constructor-pages/template-1/ProductPage.vue';

export default {
  data: () => {
    return{
      leftButtons: ["saveBtn", "cancelBtn"],
      tabs: [
        {
          icon: {
            width: 10,
            height: 16,
            name: "icon-mobile"
          },
          attribute: "mobile",
          active: false
        },
        {
          icon: {
            width: 16,
            height: 21,
            name: "icon-tablet"
          },
          attribute: "tablet",
          active: false
        },
        {
          icon: {
            width: 32,
            height: 23,
            name: "icon-desktop"
          },
          attribute: "desktop",
          active: true
        },
      ],
      control1: {
        title: "Загрузить фавикон",
        description: "Svg, fav, png и только 1:1"
      },
      control2: {
        title: "Загрузить превью",
        description: "Размер 1200x630 пикс."
      },
      constructorData: {
        header: {
          logo: "De studio",
          menu: [
            {
              title: "Все",
              slug: "/#"
            },
            {
              title: "Стулья",
              slug: "/#"
            },
            {
              title: "Столы",
              slug: "/#"
            },
            {
              title: "Диваны",
              slug: "/#"
            },
            {
              title: "Кровати",
              slug: "/#"
            },
            {
              title: "Хранение",
              slug: "/#"
            },
            {
              title: "Аксессуары",
              slug: "/#"
            }
          ],
          contacts: {
            phone: {
              title: "8 812 123-45-67",
              url: "+78121234567"
            },
            instagram: "instagram.com/qwerty"
          }
        },
        contacts: {
          email: "info@mail.com",
          phone: {
            clear: "+781289234433",
            formatted: "+812 892 344 33"
          },
          city: "Москва"
        },
        product: {
          title: "Rampa",
          price: "30 980",
          gallery: [
            {
              image: "/img/product.jpg",
              preview: "/img/product-thumb.jpg",
            },
            {
              image: "/img/product.jpg",
              preview: "/img/product-thumb.jpg",
            },
            {
              image: "/img/product.jpg",
              preview: "/img/product-thumb.jpg",
            },
            {
              image: "/img/product.jpg",
              preview: "/img/product-thumb.jpg",
            },
            {
              image: "/img/product.jpg",
              preview: "/img/product-thumb.jpg",
            },
            {
              image: "/img/product.jpg",
              preview: "/img/product-thumb.jpg",
            }
          ],
          descriptionList: [
            {
              title: "Описание",
              active: false,
              content: "Времена проходят, и модные тенденции сменяют одна другую, но элегантность дивана Indivi 2 неподвластна времени. Этот диван идеально подойдет любителям лаконичных современных интерьеров. Низкие подлокотники - броский элемент, создающий симбиоз комфорта и стильного дизайна. В ночное время этот диван легко превращается в кровать для двоих.",
            },
            {
              title: "Размеры и вес",
              active: false,
              content: "Времена проходят, и модные тенденции сменяют одна другую, но элегантность дивана Indivi 2 неподвластна времени. Этот диван идеально подойдет любителям лаконичных современных интерьеров. Низкие подлокотники - броский элемент, создающий симбиоз комфорта и стильного дизайна. В ночное время этот диван легко превращается в кровать для двоих.",
            },
            {
              title: "Материалы",
              active: false,
              content: "Времена проходят, и модные тенденции сменяют одна другую, но элегантность дивана Indivi 2 неподвластна времени. Этот диван идеально подойдет любителям лаконичных современных интерьеров. Низкие подлокотники - броский элемент, создающий симбиоз комфорта и стильного дизайна. В ночное время этот диван легко превращается в кровать для двоих.",
            },
            {
              title: "Покрытие",
              active: false,
              content: "Времена проходят, и модные тенденции сменяют одна другую, но элегантность дивана Indivi 2 неподвластна времени. Этот диван идеально подойдет любителям лаконичных современных интерьеров. Низкие подлокотники - броский элемент, создающий симбиоз комфорта и стильного дизайна. В ночное время этот диван легко превращается в кровать для двоих.",
            },
            {
              title: "Сборка",
              active: false,
              content: "Времена проходят, и модные тенденции сменяют одна другую, но элегантность дивана Indivi 2 неподвластна времени. Этот диван идеально подойдет любителям лаконичных современных интерьеров. Низкие подлокотники - броский элемент, создающий симбиоз комфорта и стильного дизайна. В ночное время этот диван легко превращается в кровать для двоих.",
            },
            {
              title: "Инструкции по сборке",
              active: false,
              content: "Времена проходят, и модные тенденции сменяют одна другую, но элегантность дивана Indivi 2 неподвластна времени. Этот диван идеально подойдет любителям лаконичных современных интерьеров. Низкие подлокотники - броский элемент, создающий симбиоз комфорта и стильного дизайна. В ночное время этот диван легко превращается в кровать для двоих.",
            }
          ]
        },
        basketList: [
          {
            image: "/img/product-thumb.jpg",
            title: "Нижнее платье мини",
            price: "33 680",
            description: "Indivi",
            count: 2
          },
          {
            image: "/img/product-thumb.jpg",
            title: "Indivi",
            price: "33 680",
            description: "Диван кровать Indivi",
            count: 3
          },
          {
            image: "/img/product-thumb.jpg",
            title: "Indivi",
            price: "33 680",
            description: "Диван кровать Indivi",
            count: 2
          },
          {
            image: "/img/product-thumb.jpg",
            title: "Indivi",
            price: "33 680",
            description: "Диван кровать Indivi",
            count: 5
          },
        ]
      }
    }
  },
  components: {
    Header,
    ConstructorView,
    DesignControl,
    ProductPage
  },
};
</script>

<style lang="sass">

</style>