<template lang="pug">
  .page
    Header(
      menuBtn="true",
      publicBtn="true",
      arrows="true",
      test="true"
      :leftButtons='leftButtons'
    )
    .container
      .page-area
        .page-aside
          .aside-item
            .t-h5 Настройки
            .aside-controls
              DesignControl(
                direction='column'
                title='Язык сайта'
                type='select'
                :context='control1'
              )
              DesignControl(
                direction='column'
                title='Добавить скрипт в "head"'
                type='textarea'
              )
              DesignControl(
                direction='column'
                title='Добавить скрипт после "body"'
                type='textarea'
              )
              DesignControl(
                direction='column'
                title='Добавить скрипт перед "body"'
                type='textarea'
              )

        .page-content
          ConstructorView(
            :tabs='tabs'
          )
            MainPage(
              :data='constructorData'
            )
</template>

<script>
import Header from '~/components/blocks/client/Header.vue';
import ConstructorView from '~/components/blocks/client/ConstructorView.vue';
import DesignControl from '~/components/blocks/client/DesignControl.vue';
import MainPage from '~/components/constructor-pages/template-1/MainPage.vue';

export default {
  data: () => {
    return{
      leftButtons: ["saveBtn", "cancelBtn"],
      tabs: [
        {
          icon: {
            width: 10,
            height: 16,
            name: "icon-mobile"
          },
          attribute: "mobile",
          active: false
        },
        {
          icon: {
            width: 16,
            height: 21,
            name: "icon-tablet"
          },
          attribute: "tablet",
          active: false
        },
        {
          icon: {
            width: 32,
            height: 23,
            name: "icon-desktop"
          },
          attribute: "desktop",
          active: true
        },
      ],
      control1: {
        list: ["Русский", "Italian", "English"],
        selected: "Русский"
      },
      constructorData: {
        header: {
          logo: "De studio",
          menu: [
            {
              title: "Все",
              slug: "/#"
            },
            {
              title: "Стулья",
              slug: "/#"
            },
            {
              title: "Столы",
              slug: "/#"
            },
            {
              title: "Диваны",
              slug: "/#"
            },
            {
              title: "Кровати",
              slug: "/#"
            },
            {
              title: "Хранение",
              slug: "/#"
            },
            {
              title: "Аксессуары",
              slug: "/#"
            }
          ],
          contacts: {
            phone: {
              title: "8 812 123-45-67",
              url: "+78121234567"
            },
            instagram: "instagram.com/qwerty"
          }
        },
        hero: {
          title: "Design Furniture",
          subtitle: "Только оригинальные модели с  сертификатами качества",
          background: "/img/contructor-hero_bg.jpg",
          type: "full",
          contentPosition: "bottom"
        },
        contacts: {
          email: "info@mail.com",
          phone: {
            clear: "+781289234433",
            formatted: "+812 892 344 33"
          },
          city: "Москва"
        },
        catalog: {
          cardView: "table",
          categories: [
            { title: "Все", slug: "#", active: true },
            { title: "Стулья", slug: "#" },
            { title: "Столы", slug: "#" },
            { title: "Диваны", slug: "#" },
            { title: "Кровати", slug: "#" },
            { title: "Хранение", slug: "#" },
            { title: "Аксессуары", slug: "#" },
          ],
          filters: [
            {
              title: "Материал",
              active: true,
              list: [
                { title: "Дерево", alt: "wood", active: true },
                { title: "Металл", alt: "metall", active: false },
                { title: "Пластик", alt: "plastic", active: false },
                { title: "Стекло", alt: "glass", active: false },
              ]
            },
            {
              title: "Цвет",
              active: false,
              list: [
                { title: "Черный", alt: "black", active: true },
                { title: "Белый", alt: "white", active: false },
                { title: "Бардовый", alt: "red", active: false },
                { title: "Хаки", alt: "green", active: false },
              ]
            },
            {
              title: "Цена",
              active: false,
              list: [
                { title: "По убыванию", alt: "less", active: true },
                { title: "По возрастанию", alt: "more", active: false },
              ]
            },
            {
              title: "Размер",
              active: false,
              list: [
                { title: "Большой", alt: "big", active: true },
                { title: "Маленький", alt: "small", active: false }
              ]
            },
          ],
          list: [
            {
              title: "Adelaide",
              size: "240*80*60",
              heightSegment: "40",
              heightArmrest: "40",
              sitting: "38",
              price: "2400",
              description: "Cтул Adelaide с функцией вращения"
            },
            {
              title: "Adelaide",
              size: "240*80*60",
              heightSegment: "40",
              heightArmrest: "40",
              sitting: "38",
              price: "2400",
              description: "Cтул Adelaide с функцией вращения"
            },
            {
              title: "Adelaide",
              size: "240*80*60",
              heightSegment: "40",
              heightArmrest: "40",
              sitting: "38",
              price: "2400",
              description: "Cтул Adelaide с функцией вращения"
            },
            {
              title: "Adelaide",
              size: "240*80*60",
              heightSegment: "40",
              heightArmrest: "40",
              sitting: "38",
              price: "2400",
              description: "Cтул Adelaide с функцией вращения"
            },
            {
              title: "Adelaide",
              size: "240*80*60",
              heightSegment: "40",
              heightArmrest: "40",
              sitting: "38",
              price: "2400",
              description: "Cтул Adelaide с функцией вращения"
            },
            {
              title: "Adelaide",
              size: "240*80*60",
              heightSegment: "40",
              heightArmrest: "40",
              sitting: "38",
              price: "2400",
              description: "Cтул Adelaide с функцией вращения"
            },
          ],
        }
      }
    }
  },
  components: {
    Header,
    ConstructorView,
    DesignControl,
    MainPage
  },
};
</script>

<style lang="sass">

</style>