<template lang="pug">
  .starting-point
    Header(
      menuBtn="true",
      langBtn="true",
      logo="true"
    )
    .container-content
      .starting-point__text
        .t-h2 Выберите отправную точку
        p.t-base Выберите любой из шаблонов и настройте его в соответствии со своими потребностями, будь то размер карточек товара или цветовую палитру. Создание красивого веб-сайта никогда не было таким быстрым.
      Categories

</template>

<script>
import Header from '~/components/blocks/client/Header.vue';
import Categories from '~/components/blocks/client/Categories.vue';

export default {
  components: {
    Header,
    Categories
  },
};
</script>

<style lang="sass">
  .starting-point__text
    margin-top: 60px
    margin-bottom: 80px
    max-width: 630px
</style>