<template lang="pug">
  .tarifs
    Header(
      landingBtns="true"
      langBtn="true",
      logo="true"
    )
    .container-content.tarifs-content
      ul.tarifs-tabs
        li(
          v-for="item in prices"
        )
          button.tarifs-tabs__item(
            v-bind:class="{ active: item.active }"
            @click='toggleActive(item)'
          )
            span {{ item.tab }}
            .tarifs-tabs__tag(v-if="item.tag") {{ item.tag }}
      .tarifs-area
        .tarifs-item(
          v-for="item in activeTab.items"
        )
          .tarifs-item__head
            .tarifs-item__title.t-h4 {{ item.title }}
            .tarifs-item__tag(v-if="item.tag") {{ item.tag }}
          .tarifs-item__price.t-h3 {{ `${item.price}₽` }}
          ul.tarifs-item__list
            li(v-for="odd in item.odds")
              svg-icon(name="check" width="12px" height="12px")
              span {{ odd }}
          .tarifs-item__description(v-if="item.description") {{ item.description }}
          nuxt-link(to="#").tarifs-item__link.link.link--green Создать сайт

</template>

<script>
import Header from '~/components/blocks/client/Header.vue';

export default {
  data: () => {
    return {
      prices: [
        {
          items: [
            {
              title: "Бесплатный",
              price: "0",
              odds: [
                "Адаптивный дизайн",
                "Поиск",
                "Сортировка",
                "Фильтры",
                "Пагинация",
                "Настройки SEO",
                "Блоки содержимого",
                "Поддомен rigma"
                ],
              description: `Воспользуйтесь бесплатной версией, если 
              вы не собираетесь совершать продажи на 
              вашем сайте. Если вы захотите подключить 
              полноценный домен, то это будет стоить 
              100р. в месяц.`
            },
            {
              title: "Премиум",
              price: "369",
              odds: [
                "Все бесплатные опции",
                "Интернет магазин",
                "Прием оплаты через сайт",
                "Неограниченное кол-во товаров",
                "Корзина",
                "Карточка товара",
                "Аналитика",
                "Возможность подключить свой домен",
                "Почта с адресом сайта"
                ],
              tag: "1 месяц бесплатно"
            },
            {
              title: "Подключить домен",
              price: "90",
              odds: [
                "Пропускная способность: 1 ГБ",
                "Хранение данных: 500 МБ",
                "Подключение домена"
                ],
            }
          ],
          active: true,
          tab: "Помесячно"
        },
        {
          items: [
            {
              title: "Премиум",
              price: "678",
              odds: [
                "Все бесплатные опции",
                "Интернет магазин",
                "Прием оплаты через сайт",
                "Неограниченное кол-во товаров",
                "Корзина",
                "Карточка товара",
                "Аналитика",
                "Возможность подключить свой домен",
                "Почта с адресом сайта"
                ],
              tag: "1 месяц бесплатно"
            },
            {
              title: "Подключить домен",
              price: "940",
              odds: [
                "Пропускная способность: 1 ГБ",
                "Хранение данных: 500 МБ",
                "Подключение домена",
                "Ещё чо нить"
                ],
            }
          ],
          active: false,
          tab: "В год",
          tag: "-20%"
        }
      ]
    }
  },
  computed: {
    activeTab: function () {
      let activeTab;
      this.prices.forEach((el) => {
        if(el.active == true){
          activeTab = el;
        } 
      });
      return activeTab;
    },
  },
  methods: {
    toggleActive(item){
      this.prices.forEach((el) => {
        el.active = false;
      })
      item.active = true;
    },
  },
  components: {
    Header
  }
};
</script>

<style lang="sass">
  

</style>