<template lang="pug">
  .page
    Header(
      menuBtn="true",
      publicBtn="true",
      backBtn="true"
      :leftButtons='leftButtons'
    )
    .container
      .page-area
        .page-aside
          AsideMenu(
            :list='menu'
          )
        .page-content
          ConstructorView(
            :tabs='tabs'
          )
    
</template>

<script>
import Header from '~/components/blocks/client/Header.vue';
import ConstructorView from '~/components/blocks/client/ConstructorView.vue';
import AsideMenu from '~/components/blocks/client/AsideMenu.vue'

export default {
  data: () => {
    return{
      leftButtons: ["backBtn"],
      tabs: [
        {
          icon: {
            width: 10,
            height: 16,
            name: "icon-mobile"
          },
          attribute: "mobile"
        },
        {
          icon: {
            width: 16,
            height: 21,
            name: "icon-tablet"
          },
          attribute: "tablet",
        },
        {
          icon: {
            width: 32,
            height: 23,
            name: "icon-desktop"
          },
          attribute: "desktop",
          active: true
        },
      ],
      menu: [
        {
          title: "Дизайн",
          slug: "#"
        },
        {
          title: "Контент",
          slug: "#"
        },
        {
          title: "Корзина",
          slug: "#"
        },
        {
          title: "Настройки",
          slug: "#"
        },
        {
          title: "SEO",
          slug: "#"
        }
      ]
    }
  },
  components: {
    Header,
    ConstructorView,
    AsideMenu
  },
};
</script>

<style lang="sass">

</style>