<template lang="pug">
  modal(name="account-modal"
         :adaptive="true"
         :max-width="780"
         :min-height="540"
         width="80%"
         height="60%"
         @before-open="beforeOpen"
         ).account-modal(v-bind:class="{ active: isActive }")
    .account-modal__area
        .account-modal__aside
            ul.aside-item__list
              li(v-for='item in data')
                button(
                  class="aside-item__link t-h6"
                  v-bind:class="{ active: item.active }"
                  @click='setActive(item)'
                )
                  span {{ item.tab }}
                  svg-icon(name="arrow-back" width="6px" height="12px")
            button.account-modal__logout
                svg-icon(name='power' width='16px' height='16px')
                span Выйти
        .account-modal__content
            .account-modal__title(v-if="activeContent.title") {{ activeContent.title }}
            .account-modal__image(v-if="activeContent.userpic")
                img(:src="activeContent.userpic")
            ul.account-modal__info(v-if="activeContent.info")
                li(v-for="infoPart in activeContent.info")
                    .account-modal__info-title {{ infoPart.partTitle }}
                    .account-modal__info-row(v-for='row in infoPart.rows')
                        .row-title {{ row.title }}
                        button.row-button(v-if='row.value.type == "button"') {{ row.value.value }}
                        .row-value(v-else) {{ row.value }}

            ul.account-modal__checkboxes(v-if="activeContent.checkboxList")
                li.account-modal__checkbox(v-for="checkbox in activeContent.checkboxList")
                    span {{ checkbox.title }}
                    Checkbox(:name="checkbox.title")

            .account-modal__tarifs(v-if="activeContent.prices")
                ul.tarifs-tabs
                    li(
                        v-for="item in activeContent.prices"
                    )
                        button.tarifs-tabs__item(
                            v-bind:class="{ active: item.active }"
                            @click='toggleActiveTarif(item)'
                        )
                            span {{ item.tab }}
                            .tarifs-tabs__tag(v-if="item.tag") {{ item.tag }}
                
                .tarifs-area
                    .tarifs-item(
                        v-for="item in activeTarifsTab.items"
                    )   
                        .tarifs-item__part
                            .tarifs-item__tag(v-if="item.tag") {{ item.tag }}
                            .tarifs-item__title.t-h4 {{ item.title }} 
                            .tarifs-item__price.t-h3 {{ `${item.price}₽` }}
                            ul.tarifs-item__list
                                li(v-for="odd in item.odds")
                                    svg-icon(name="check" width="12px" height="12px")
                                    span {{ odd }}
                        nuxt-link(to="#").tarifs-item__link.link.link--green Попробовать

        button.account-modal__close(@click="modalClose()")
</template>

<script>
import Checkbox from '~/components/elements/client/Checkbox.vue';
export default {
    name: 'AccountModal',
    data: () => {
        return {
            isActive: false,
            data: [
                {
                tab: "Аккаунт",
                active: true,
                title: "Аккаунт",
                userpic: "/img/user-2.jpg",
                info: [
                        {
                        partTitle: "Основная информация",
                        rows: [
                            {
                            title: "Имя",
                            value: "Лиза"
                            },
                            {
                            title: "Фамилия",
                            value: "Старостина"
                            }
                        ]
                        },
                        {
                        partTitle: "Google аккаунт",
                        rows: [
                            {
                            title: "Google",
                            value: {
                                type: "button",
                                value: "Сменить"
                            }
                            },
                            {
                            title: "Email",
                            value: "Mail@gmail.ru"
                            }
                        ]
                        }
                    ]
                },
                {
                    tab: "Уведомления",
                    active: false,
                    title: "Уведомления",
                    checkboxList: [
                        {
                        title: "Информация о платежах"
                        },
                        {
                        title: "Новости Rigma"
                        },
                    ]
                    },
                    {
                        tab: "Моя подписка",
                        active: false,
                        prices: [
                            {
                                items: [
                                    {
                                        title: "Бесплатный",
                                        price: "0",
                                        odds: [
                                            "Адаптивный дизайн",
                                            "Поиск",
                                            "Сортировка",
                                            "Фильтры",
                                            "Пагинация",
                                            "Настройки SEO",
                                            "Блоки содержимого",
                                            "Поддомен rigma"
                                            ],
                                        tag: "Текущий тариф"
                                    },
                                {
                                title: "Премиум",
                                price: "369",
                                odds: [
                                    "Все бесплатные опции",
                                    "Интернет магазин",
                                    "Прием оплаты через сайт",
                                    "Корзина",
                                    "Карточка товара",
                                    "Почта с адресом сайта"
                                    ],
                                tag: "3 месяца бесплатно"
                                },
                            ],
                            active: true,
                            tab: "Помесячно"
                            },
                            {
                            items: [
                                {
                                title: "Премиум",
                                price: "678",
                                odds: [
                                    "Все бесплатные опции",
                                    "Интернет магазин",
                                    "Прием оплаты через сайт",
                                    "Неограниченное кол-во товаров",
                                    "Корзина",
                                    ],
                                tag: "2 месяца бесплатно"
                                },
                            ],
                            active: false,
                            tab: "В год",
                            tag: "-20%"
                            }
                        ]
                    }
            ]
        }
    },
    computed: {
        activeContent: function () {
            let active;
            this.data.forEach((item) => {
                if(item.active == true){
                    active = item;
                }
            })
            return active;
        },
        activeTarifsTab: function () {
            let activeTab;
            this.activeContent.prices.forEach((el) => {
                if(el.active == true){
                activeTab = el;
                } 
            });
            return activeTab;
        },
    },
    methods: {
        setActive(item){
            this.data.forEach((item) => {
                item.active = false;
            })
            item.active = true;
        },
        toggleActiveTarif(item){
            this.activeContent.prices.forEach((el) => {
                el.active = false;
            })
            item.active = true;
        },
        modalClose() {
            this.$modal.hide("account-modal")
        },
        beforeOpen(){
            this.isActive = true;
        }
    },
    components: {
        Checkbox
    }
}
</script>

<style lang="sass">
    .vm--overlay
        background-color: rgba(0,0,0,.5)

    .vm--modal
        border-radius: 6px

    .account-modal
        display: none
        &.active
            display: block

        .tarifs-tabs
            justify-content: flex-start
            margin-bottom: 0

        .tarifs-area
            grid-gap: 8px
            grid-template-columns: repeat(2, 1fr)

        .tarifs-item
            padding: 14px 16px
            height: 100%
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: flex-start
            &:hover
                .tarifs-item__tag
                    background-color: #071222
                    color: white
                    
        .tarifs-item__tag
            background-color: #E8EAED
            color: black
            font-weight: 500
            display: inline-block
            transition-duration: .4s
            margin-bottom: 20px
        
        .tarifs-item__price
            font-size: 48px
            margin-top: 6px

        .tarifs-item__link
            position: static
            opacity: 1
            pointer-events: all
            font-size: 14px
            display: inline-block
            width: auto
            padding: 6px 16px
            text-align: left
            min-width: auto
            margin: initial
            margin-bottom: 10px
            transform: translateY(0px)

        .tarifs-item__list
            padding-bottom: 0
            border: none
            grid-gap: 3px
            li
                font-size: 12px
                color: black

    .account-modal__close
        position: absolute
        width: 24px
        height: 24px
        top: 18px
        right: 18px
        background: #F2F2F6
        border-radius: 100%
        transition-duration: .3s
        &:hover
            background: #7A8085
            &:before, &:after
                background: #F2F2F6
        &:before, &:after
            content: ''
            transition-duration: inherit
            width: 50%
            height: 1px
            position: absolute
            background: #7A8085
            top: 0
            left: 0
            right: 0
            bottom: 0
            margin: auto
        &:before
            transform: rotate(45deg)
        &:after
            transform: rotate(-45deg)

    .account-modal__area
        display: grid
        width: 100%
        height: 100%
        grid-template-columns: 305px 1fr
        .aside-item__list
            grid-gap: 0
        .aside-item__link
            background: none
            &.active
                background: #F2F2F6

    .account-modal__aside
        background-color: #FBFBFC
        padding: 30px 16px
        display: flex
        flex-direction: column
        justify-content: space-between

    .account-modal__content
        padding: 30px

    .account-modal__title
        font-size: 18px
        font-family: 'Montserrat'
        font-weight: 600
        margin-bottom: 10px

    .account-modal__checkbox
        display: flex
        justify-content: space-between
        align-items: center
        padding: 10px 0
        border-bottom: 1px solid #E8EAED
        span
            font-size: 14px
            color: #555D6B

    .account-modal__logout
        display: flex
        align-items: center
        color: #7A8085
        font-size: 14px
        font-weight: 500
        margin-left: 15px
        font-family: 'Montserrat'
        svg
            margin-right: 5px

    .account-modal__info
        grid-gap: 25px
        display: grid

    .account-modal__info-title
        font-size: 12px
        color: #7A8085

    .account-modal__info-row
        display: grid
        font-size: 14px
        padding: 10px 0
        border-bottom: 1px solid #E8EAED
        grid-template-columns: 1fr 1fr
        .row-title
            color: #555D6B
        .row-value
            color: black
        .row-button
            color: #C30304
            text-align: left
    
    .account-modal__image
        width: 93px
        height: 93px
        margin: 10px 0
        border-radius: 100%
        overflow: hidden
        img
            width: 100%

    .account-modal__tarifs
        display: grid
        height: 100%
        grid-template-rows: auto 1fr
        grid-gap: 10px

</style>