<template lang="pug">
  ul.aside-menu
    li(v-for="item in list")
        nuxt-link.t-h4(
            :to='item.slug'
        ) {{ item.title }}
</template>
<script>

export default {
    props: ['list'],
}
</script>
<style lang="sass">
    .aside-menu
        margin-top: 30px
        display: grid
        grid-gap: 20px
</style>
