<template lang="pug">
  .categories
    .categories__aside
        .t-h4 Категории
        ul.categories__list
            li(v-for="item in categories")
                button.categories__item(@click="setActive(item)" v-bind:class="{ active: item.active }") {{ item.title }}
    .categories__content
        transition(name="slide")
            ul.categories__templates(:key="selectedView")
                li(v-for="item in filteredList")
                    nuxt-link(:to="item.slug")
                        .categories__templates-picture
                            img(:src="item.img")
                        .categories__templates-links
                            nuxt-link(to="#").link.link--outline Посмотреть сайт
                            nuxt-link(to="#").link.link--outline Создать сайт

</template>
<script>

export default {
    data: () => {
        return{
            selectedView: 0,
            categories: [
                {
                    title: "Магазин",
                    category: "store",
                    active: true
                },
                {
                    title: "Кафе и рестораны",
                    category: "restaurants",
                    active: false
                },
                {
                    title: "Отели и гостиницы",
                    category: "hotels",
                    active: false
                },
                {
                    title: "Красота",
                    category: "beauty",
                    active: false
                }
            ],
            templates: [
                {
                    img: "/img/templates/template-1.jpg",
                    slug: "/store1",
                    category: "store"
                },
                {
                    img: "/img/templates/template-2.jpg",
                    slug: "/restaurant1",
                    category: "restaurants"
                },
                {
                    img: "/img/templates/template-3.jpg",
                    slug: "/restaurant2",
                    category: "restaurants"
                },
                {
                    img: "/img/templates/template-4.jpg",
                    slug: "/store1",
                    category: "store"
                },
                {
                    img: "/img/templates/template-5.jpg",
                    slug: "/hotels1",
                    category: "hotels"
                },
                {
                    img: "/img/templates/template-3.jpg",
                    slug: "/hotels2",
                    category: "hotels"
                },
                {
                    img: "/img/templates/template-2.jpg",
                    slug: "/hotels3",
                    category: "hotels"
                },
                {
                    img: "/img/templates/template-1.jpg",
                    slug: "/hotels4",
                    category: "hotels"
                },
                {
                    img: "/img/templates/template-4.jpg",
                    slug: "/beauty1",
                    category: "beauty"
                },
                {
                    img: "/img/templates/template-2.jpg",
                    slug: "/beauty2",
                    category: "beauty"
                },
                {
                    img: "/img/templates/template-1.jpg",
                    slug: "/beauty3",
                    category: "beauty"
                },
            ]
        }
    },
    computed: {
        activeCategory: function () {
            let filter;
            this.categories.forEach((el) => {
                if(el.active == true){
                    filter = el.category;
                } 
            });
            return filter;
        },
        filteredList: function () {
            const filterResult = this.templates.filter(template => template.category == this.activeCategory);
            return filterResult;
        },
    },
    methods: {
        setActive(item){
            this.selectedView++;
            this.categories.forEach((el) => {
                el.active = false;
            });
            item.active = true;
        }
    },
    mounted(){
        this.selectedView++;
    }
}
</script>
<style lang="sass">
    .categories
        display: grid
        grid-template-columns: 260px 1fr
        grid-gap: 40px
    
    .categories__list
        margin-top: 35px
        display: grid
        grid-gap: 15px
        
        button
            opacity: .6
            transition-duration: .4s
            &:hover, &.active
                opacity: 1

    .categories__item
        font-size: 16px

    .categories__content
        position: relative

    .categories__templates-links
        position: absolute
        display: flex
        width: 100%
        height: 100%
        justify-content: center
        opacity: 0
        transition-duration: .6s
        text-align: center
        flex-direction: column
        align-items: center
        top: 0
        left: 0
        & > *
            &:not(:last-child)
                margin-bottom: 15px

    .categories__templates-picture
        transition-duration: .6s
        width: 100%
        position: relative
        &:before
            position: absolute
            z-index: 1
            width: 100%
            height: 100%
            transition-duration: .8s
            top: 0
            content: ''
            left: 0
            background-color: rgba(0,0,0,0)

    .categories__templates
        width: 100%
        position: absolute
        display: grid
        padding-bottom: 60px
        grid-gap: 40px
        grid-template-columns: repeat(2, 1fr)
        li
            position: relative
            filter: drop-shadow(0px 32px 48px rgba(5, 23, 39, 0.12))
            a
                &:hover
                    .categories__templates-picture
                        transform: scale(1.04)
                        &:before
                            background-color: rgba(0,0,0,.6)
                    .categories__templates-links
                        opacity: 1
            img
                width: 100%
                display: block
</style>
