<template lang="pug">
    .constructor-view(:class='`is-${activeView}`')
        ul.constructor-view__tabs
            li(v-for='tab in tabs')
                button.constructor-view__tab(
                    v-bind:class="{ active: tab.active }"
                    @click='setActive(tab)'
                )
                    svg-icon(:name='tab.icon.name' :width='`${tab.icon.width}px`' :height='`${tab.icon.height}px`')
        .constructor-view__head
            .constructor-view__circles
                span
                span
                span
            EditableInput(
                className="constructor-view__input"
                :value="siteUrl"
            )
        .consctructor-view__content
            slot
</template>

<script>
import EditableInput from '~/components/elements/client/EditableInput.vue'
export default {
    props: ["tabs"],
    data: () => {
        return{
            siteUrl: "site.rigma.net",
        }
    },
    computed: {
        activeView: function () {
            let activeTab;
            this.tabs.forEach((tab) => {
                if(tab.active == true){
                    activeTab = tab.attribute;
                    this.$store.state.constructor.media = tab.attribute;
                }
            })
            this.mq = activeTab;
            return activeTab;
        },
    },
    methods: {
        setActive(item){
            this.tabs.forEach((tab) => {
                tab.active = false;
            })
            item.active = true;
        }
    },
    components: {
        EditableInput
    }
}
</script>

<style lang="sass">
    .constructor-view
        height: 100%
        width: 100%
        max-height: 90vh
        position: sticky
        top: 103px
        z-index: 0
        display: flex
        z-index: 1
        flex-direction: column
        align-items: center
        &.is-tablet
            .consctructor-view__content, .constructor-view__head
                max-width: 1024px

        &.is-mobile
            .consctructor-view__content, .constructor-view__head
                max-width: 375px
            .constructor-view__head
                padding: 15px 19px 7px
                height: initial
            .constructor-view__circles
                display: none
            .constructor-view__input
                p, input
                    padding: 5px
                    text-align: center
                    border-radius: 10px
            .consctructor-view__content
                max-height: 600px
                border-radius: 0px 0px 16px 16px
                box-shadow: 0px 12px 20px rgba(0,0,0,.07)
            
    .constructor-view__head
        border-radius: 16px 16px 0px 0px
        background-color: $grey-2
        height: 24px
        margin-top: 10px
        width: 100%
        position: relative

    .consctructor-view__content
        width: 100%
        background-color: rgba(0,0,0,.02)
        height: calc(100% - 100px)
        box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.04)
        overflow-y: auto
        position: relative
        -ms-overflow-style: none
        scrollbar-width: none
        border-radius: 0px 0px 10px 10px
        &::-webkit-scrollbar
            width: 0
            background: transparent
        & *
            &::-webkit-scrollbar
                width: 0
                background: transparent

    .constructor-view__tabs
        display: grid
        justify-content: center
        align-items: center
        height: 92px
        margin-top: -102px
        grid-gap: 30px
        max-width: 300px
        li
            grid-row: 1
    
    .constructor-view__tab
        opacity: .5
        transition: .4s
        &:hover, &.active
            opacity: 1

    .constructor-view__circles
        display: grid
        grid-gap: 4px
        height: 100%
        justify-content: flex-start
        position: absolute
        left: 11px
        top: 0
        align-items: center
        span
            grid-row: 1
            width: 6px
            height: 6px
            border-radius: 100%
            &:nth-child(1)
                background-color: $red
            &:nth-child(2)
                background-color: $yellow
            &:nth-child(3)
                background-color: $green-2
    
    .constructor-view__input
        max-width: 400px
        padding: 3px 0
        height: 100%
        position: relative
        margin: 0 auto
        font-size: 12px
        input, p
            background-color: white
            width: 100%
            height: 100%
            display: block
            text-align: center
            border-radius: 3px
        p
            cursor: default
        button
            position: absolute
            top: 0
            right: 12px
            bottom: 0
            margin: auto
            font-weight: 500
            color: $green
</style>