
<template lang="pug">
  .design-control(
    :class='`design-control--${direction}`'
  )
    .t-h6.design-control__title(v-if='title') {{ `${title}:` }}
    .design-control__subtitle(v-if='subtitle') {{ `${subtitle}:` }}
    .design-control__content
      TemplatesSwitch(
        v-if='type == "templates-switch"'
        :list='context'
      )

      Checkbox(v-if="type == 'checkbox'" :name="name")
        
      ColorPicker(
        v-if='type == "colorpicker"'
        :color='color'
      )

      ToggleList(
        v-if='type == "togglelist"'
        :list='context'
      )

      Input(
        v-if='type == "input"'
        :value='context.value'
        :placeholder='context.placeholder'
      )

      Textarea(
        v-if='type == "textarea"'
      )

      Select(
        v-if='type == "select"'
        :data='context'
      )

      FileInput(
        v-if='type == "file-input"'
        :data='context'
      )

</template>
<script>
import TemplatesSwitch from '~/components/elements/client/TemplatesSwitch.vue';
import ToggleList from '~/components/elements/client/ToggleList.vue';
import ColorPicker from '~/components/elements/client/ColorPicker.vue';
import Input from '~/components/elements/client/Input.vue';
import Textarea from '~/components/elements/client/Textarea.vue';
import Select from '~/components/elements/client/Select.vue';
import Checkbox from '~/components/elements/client/Checkbox.vue';
import FileInput from '~/components/elements/client/FileInput.vue';

export default {
  props: ['direction', 'title', 'context', 'type', 'name', 'color', 'subtitle'],
  components: {
    TemplatesSwitch,
    ColorPicker,
    ToggleList,
    Input,
    Textarea,
    Select,
    Checkbox,
    FileInput
  }
}
</script>
<style lang="sass">
  .design-control
    width: 100%

  .design-control
    &--row
      display: flex
      align-items: center
      justify-content: space-between
      .design-control__title
        margin-bottom: 0

  .design-control__title
    color: #555D6B
    margin-bottom: 10px

  .design-control__subtitle
    color: #7A8085
    font-size: 12px
    margin-bottom: 15px

</style>