<template lang="pug">
    .examples-tabs
        .examples-tabs__head
            .container-content
                ul.examples-tabs__list
                    li(v-for='tab in tabs')
                        button.examples-tabs__item.t-h4(
                            @click='setActive(tab)'
                            v-bind:class="{ active: tab.active }"
                        ) {{ tab.tabTitle }}
        .container-content
            .examples-tabs__area
                .examples-tabs__part 
                    .examples-tabs__title.t-h4.media-min--tab-sm {{ activeItem.title }}
                    .examples-tabs__content(
                        v-html='activeItem.content'
                        v-bind:class="{ rolled: !activeItem.rolled }"
                        ) {{ activeItem.content }}
                    button.examples-tabs__more(
                        @click="rolledUp(activeItem)"
                        v-bind:class="{ active: activeItem.rolled }") Читать далее
                .examples-tabs__part
                    img(:src='activeItem.mobileImage').examples-tabs__image.is-mobile
                    img(:src='activeItem.tableImage').examples-tabs__image.is-table
                    img(:src='activeItem.desktopImage').examples-tabs__image.is-desktop.media-min--tab
                    
            
</template>

<script>
import ScrollBooster from 'scrollbooster';

export default {
    props: ["tabs"],
    computed: {
        activeItem: function () {
            let active;
            this.tabs.forEach((tab) => {
                if(tab.active == true){
                    active = tab;
                }
            })
            return active;
        }
    },
    methods: {
        setActive(item){
            this.selectedView++;
            this.tabs.forEach((tab) => {
                tab.active = false;
            })
            item.active = true;
        },
        rolledUp(item){
            item.rolled = !item.rolled;
        }
    },
    mounted(){
        if(window.innerWidth < 768){
            const sb = new ScrollBooster({
                viewport: this.$el.querySelector('.examples-tabs__head'),
                content: this.$el.querySelector('.examples-tabs__list'),
                scrollMode: 'transform',
                direction: 'horizontal', 
                pointerMode: 'touch',
            });
        }
        
  }
}
</script>

<style lang="sass">
    .examples-tabs__list
        display: grid
        justify-content: start
        grid-gap: 2vw
        @media (max-width: 768px)
            grid-gap: 30px            
        li
            grid-row: 1

    .examples-tabs__head
        border-bottom: 1px solid rgba(0,0,0,.1)
        padding-right: 50px
    
    .examples-tabs__item
        font-size: 18px
        padding-bottom: 25px
        position: relative
        white-space: nowrap
        color: rgba(0,0,0,.5)
        transition-duration: .4s
        @media (max-width: 768px)
            font-size: 16px
            padding-bottom: 20px
        &:before
            content: ''
            width: 100%
            left: 0
            bottom: 0
            height: 2px
            transform: translateX(-10px)
            opacity: 0
            background-color: #57B560
            position: absolute
            transition-timing-function: cubic-bezier(.165,.84,.44,1)
            transition-duration: inherit
        &:hover, &.active
            color: black
        &.active
            &:before
                opacity: 1
                transform: translateY(0px)

    .examples-tabs__area
        display: grid
        grid-template-columns: 3fr 4fr
        grid-gap: 5vw
        padding-top: 70px
        @media (max-width: 1200px) and (min-width: 769px)
            padding-top: 0
        @media (max-width: 1200px)
            display: flex
            flex-direction: column-reverse

    .examples-tabs__part
        position: relative
        min-height: 450px
        @media (max-width: 1200px) and (min-width: 769px)
            min-height: auto
        @media (max-width: 640px)
            min-height: 250px

    .examples-tabs__content
        display: grid
        margin-top: 10px
        position: relative
        grid-gap: 12px
        @media (max-width: 500px)
            grid-gap: 15px
            display: -webkit-box
            -webkit-box-orient: vertical
            -webkit-line-clamp: 7
            overflow: hidden
            height: 175px
            &:before
                content: ''
                position: absolute
                bottom: 0
                left: 0
                height: 45%
                width: 100%
                background: linear-gradient(to top, white 32%, transparent)
        &.rolled
            -webkit-line-clamp: initial
            height: auto
            &:before
                display: none
        p 
            color: #555D6B
            @media (max-width: 500px)
                font-size: 16px
        b
            font-weight: 500
        a
            color: #57B560
            font-weight: 500
            display: contents

    .examples-tabs__image
        position: absolute
        @media (max-width: 1200px) and (min-width: 769px)
            display: none
        &.is-desktop
            width: 90%
            top: 0
            right: 30px
            z-index: 1
        &.is-table
            width: 60%
            top: 320px
            right: 0
            z-index: 2
            @media (max-width: 768px)
                width: 200%
                top: 0
                right: initial
                left: -60px
                opacity: .6

        &.is-mobile
            max-width: 260px
            top: -40px
            left: 0
            z-index: 3
            @media (max-width: 1200px)
                max-width: 180px
                top: -20px
                right: -20px
                left: initial
    
    .examples-tabs__more
        color: #555D6B
        font-size: 16px
        font-weight: 500
        border-bottom: 1px solid #555D6B
        display: none
        &.active
            @media (max-width: 768px)
                display: block
    .is-safari
        .examples-tabs__content
            &:before
                display: none
</style>