<template lang="pug">
  .header
    .container.u-flex.u-jcsb.u-aic
      .header__part
        Logo(
          v-if='logo'
        )
        .header-buttons(v-if='leftButtons')
          ul.header-buttons__list
            li(v-for='button in leftButtons')
              button(
                @click="$router.back()"
                nuxt-link-go-back
                v-if='button == "backBtn"'
              ).link--template
                svg-icon(name="arrow-back" width="8px" height="16px")
                span Назад
              button(
                v-if='button == "saveBtn"'
              ).link--template.active
                span Сохранить
              button(
                v-if='button == "cancelBtn"'
              ).link--template
                span Отмена
          ul.header-buttons__arrows(v-if='arrows')
            li
              button.prev.active
                svg-icon(name="arrow-turn" width="16px" height="16px")
            li
              button.next
                svg-icon(name="arrow-turn" width="16px" height="16px")


      .header__part
        .media-min--tab
          ul.header-landing__list(v-if="landingBtns")
            li
              nuxt-link(to="/tarifs").t-h6 Цены
            li
              nuxt-link(to="#").t-h6 Шаблоны
        .media-min--tab
          Dropdown(
            v-if='langBtn'
            :list='locales'
          )
            .header__locales-btn
              svg-icon(name="locales" width="20px" height="20px")
              .header__locales-arrow
                svg-icon(name="arrow" width="13px" height="7px")
        nuxt-link(
          to="#"
          v-if='publicBtn'
          ).link.link--green Опубликовать
        button(
          v-if='test'
          @click="accountModalShow()"
          ).link.link--green Попап

        Dropdown(
          v-if='menuBtn'
          :list='menu'
        )
          .header__menu-btn
            svg-icon(name="menu" width="24px" height="20px")
            .header__menu-icon
              img(src="~/static/img/user.jpg")

        MobileMenu(
          v-if='menuBtnMobile'
          :list='mainMenu'
          :locales='locales'
        ).media-max--tab
          .header__menu-btn
            svg-icon(name="menu" width="24px" height="20px")
            .header__menu-icon
              img(src="~/static/img/user.jpg")

        nuxt-link(to="#" v-if='landingBtns').link.link--green.media-min--tab Создать сайт
  
    AccountModal(
      v-if='test'
      )

</template>
<script>
import Logo from '~/components/elements/client/Logo.vue'
import Dropdown from '~/components/elements/client/Dropdown.vue'
import MobileMenu from '~/components/elements/client/MobileMenu.vue'
import AccountModal from '~/components/blocks/client/AccountModal.vue'

export default {
  props: ['menuBtn', 'langBtn', 'publicBtn', 'logo', 'leftButtons', 'arrows', 'landingBtns', 'menuBtnMobile', 'test'],
  data: () => {
    return{
      canBeShown: false,
      locales: [
        { title: "Русский", slug: "/ru" },
        { title: "English", slug: "/en" }
      ],
      menu: [
        { title: "Регистрация", slug: "/registration" },
        { title: "Отправная точка", slug: "/starting_point" },
        { title: "Настройки темы", slug: "/theme_settings" },
        { title: "Дизайн", slug: "/design" },
        { title: "Контент", slug: "/content" },
        { title: "Настройки корзины", slug: "/bucket_settings" },
        { title: "Настройки", slug: "/settings" },
        { title: "SEO", slug: "/seo_settings" },
      ],
      mainMenu: [
        { title: "Дизайны", slug: "/" },
        { title: "Цены", slug: "/" },
        { title: "FAQ", slug: "/" },
      ],
    }
  },
  methods: {
    accountModalShow() {
      this.$modal.show('account-modal')
    },
  },
  components: {
    Logo,
    Dropdown,
    MobileMenu,
    AccountModal
  }
}
</script>
<style lang="sass">
  .header
    width: 100%
    top: 0
    position: sticky
    z-index: 2
    margin-bottom: 93px
    .container
      @media (max-width: 768px)
        margin-bottom: -93px
    
  .header__part
    display: grid
    grid-gap: 10px
    align-items: center
    margin-top: -93px
    transform: translateY(93px)
    @media (max-width: 768px)
      margin-top: initial
      transform: initial
    & > *
      grid-row: 1
    &:last-child
      padding: 25px 0
    & > .link--green
      font-size: 12px
      min-width: auto
      padding: 7px 12px
  .header__menu-btn
    display: flex
    align-items: center
    background-color: white
    padding: 5px
    transition-duration: .4s
    padding-left: 8px
    border-radius: 40px
    box-shadow: 0px 2px 5px rgba(0,0,0,.15)
    &:hover
      box-shadow: 0px 1px 5px rgba(0,0,0,.05)

  .header__menu-icon
    width: 32px
    height: 32px
    margin-left: 10px
    border-radius: 100%
    overflow: hidden
    position: relative
    img
      width: 100%
      object-fit: cover
  
  .header__locales-btn
    display: flex
    align-items: center
    border-radius: 40px
    transition-duration: .4s
    padding: 10px
    height: 100%
    svg
      stroke: #333333
    &:hover
      background-color: #E8EAED

  .header__locales-btn.is-light
    &:hover
      background-color: transparent
    svg
      stroke: white

  .header__locales-arrow
    margin-left: 6px
    margin-top: -4px
    transition-duration: .3s

  .header-buttons
    display: flex
    align-items: center
    justify-content: space-between
    min-width: 280px
    padding: 37px 0
    background: linear-gradient(to bottom, $bg 75%, transparent)
    button
      opacity: .6
      transition-duration: .4s
      &:hover, &.active
        opacity: 1

  .header-buttons__list
    display: grid
    justify-content: start
    align-items: center
    grid-gap: 15px
    li
      grid-row: 1
    
  .header-buttons__arrows
    display: grid
    align-items: center
    grid-gap: 10px
    li
      grid-row: 1
    .next
      transform: scale(-1, 1)

  .header-landing__list
    display: grid
    margin-right: 50px
    grid-gap: 40px
    li
      grid-row: 1
    a
      font-weight: 600

</style>
