<template lang="pug">
    ul.odds-list
        li(v-for='tab in tabs' v-bind:class="{ active: tab.active }").odds-list__item
            button.odds-list__title.t-h4(
                @click='setActive(tab)' 
            )
                img(:src='tab.icon').media-max--tab
                span {{ tab.title }}
                    
            p.odds-list__description {{ tab.description }}
</template>

<script>
export default {
    props: ["tabs"],
    methods: {
        setActive(item){
            this.tabs.forEach((tab) => {
                tab.active = false;
            })
            item.active = true;
        }
    },
}
</script>

<style lang="sass">
    .odds-list
        @media (max-width: 1200px)
            margin: 0 -20px

    .odds-list__item
        position: relative
        padding-left: 35px
        border-left: 1px solid #B4BBC1
        transition-duration: .4s
        @media (max-width: 1200px)
            padding: 0
            border-left: none
            border-top: 1px solid rgba(0,0,0,.1)
        &:last-child
            @media (max-width: 1200px)
                border-bottom: 1px solid rgba(0,0,0,.1)
        &.active
            padding-bottom: 90px
            border-left: 1px solid #57B560
            @media (max-width: 1200px)
                padding: 0
                border-left: none
            .odds-list__description
                opacity: 1
                transform: translateY(0px)
                @media (max-width: 1200px)
                    display: block
            .odds-list__title
                opacity: 1
                &:before
                    transform: rotate(225deg)

    .odds-list__title
        font-size: 24px
        margin-bottom: 15px
        text-align: left
        padding-top: 8px
        opacity: .5
        transition-duration: .4s
        @media (max-width: 1366px)
            font-size: 22px
        @media (max-width: 1200px)
            font-size: 15px
            opacity: 1
            margin-bottom: 0
            padding: 30px 20px
            width: 100%
            text-align: left
            display: flex
            align-items: center
            img
                margin-right: 15px
                width: 24px
                height: 24px
            &:before
                content: ''
                position: absolute
                top: 34px
                right: 20px
                width: 10px
                height: 10px
                transform: rotate(45deg)
                border-bottom: 1px solid #1DB954
                border-right: 1px solid #1DB954
                @media (max-width: 375px)
                    top: 25px

        @media (max-width: 375px)
            font-size: 12px
            padding: 20px
            
    .odds-list__description
        font-size: 16px
        color: #555D6B 
        max-width: 500px
        max-height: 88px
        line-height: 140%
        position: absolute
        top: 40px
        transition-duration: .4s
        opacity: 0
        -webkit-line-clamp: 4
        display: -webkit-box
        -webkit-box-orient: vertical
        overflow: hidden
        transform: translateY(15px)
        @media (max-width: 1200px)
            position: static
            display: none
            padding: 0 20px 20px
            max-height: initial
        
    .odds-list
        display: grid
        grid-gap: 30px
        @media (max-width: 1200px)
            grid-gap: 0

</style>