<template lang="pug">
    .scroll-list
        ul.scroll-list__inner
            li(v-for="item in list")
                nuxt-link.scroll-list__item(:to='item.link')
                    img(:src='item.image')
</template>
<script>
import ScrollBooster from 'scrollbooster';

export default {
  props: ["list"],
//   methods: {
//     randomOffset(min, max) {
//         let rand = min - 0.5 + Math.random() * (max - min + 1);
//         return Math.round(rand);
//     }
//   },
  mounted(){
    const sb = new ScrollBooster({
        viewport: this.$el,
        content: this.$el.querySelector('.scroll-list__inner'),
        scrollMode: 'transform',
        direction: 'horizontal', 
        emulateScroll: false,
        pointerDownPreventDefault: true
    });
  }
}
</script>
<style lang="sass">
    .scroll-list__inner
        display: grid
        justify-content: flex-start
        grid-gap: 40px
        margin-left: -50%
        @media (max-width: 1025px)
            grid-gap: 15px
            margin-left: 0
        li
            grid-row: 1

    .scroll-list__item
        display: block
        transition-duration: .4s
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15)
        @media (max-width: 768px)
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15)
        &:hover
            transform: scale(1.02)
        img
            display: block
            height: 40vh
            object-fit: cover
            @media (min-width: 1025px)
                width: 30vw
</style>
