.t1-container 
  margin-right: auto
  margin-left: auto
  +yo('padding-left', (500px: 16px, 1200px: 35px, 1440px: 75px))
  +yo('padding-right', (500px: 16px, 1200px: 35px, 1440px: 75px))

.t1-container--sm
  margin-right: auto
  margin-left: auto
  width: 80%

// Responsive for constructor frame
.is-tablet
  .t1-container
    padding-left: 35px
    padding-right: 35px

  .t1-container--sm
    width: 100%
    padding-left: 35px
    padding-right: 35px

.is-mobile
  .t1-container
    padding-left: 16px
    padding-right: 16px

  .t1-container--sm
    width: 100%
    padding-left: 16px
    padding-right: 16px