.t1-logo
    font-family: 'avenir'
    font-weight: 600
    font-size: 24px

.t1-button
    background-color: $black
    color: white
    font-size: 10px
    text-transform: uppercase
    font-weight: 500
    letter-spacing: 0.1em
    padding: 12px 25px
    &:hover
        background-color: black

.t1-field
    width: 100%
    font-family: 'PTRootUI'
    font-size: 16px
    padding: 10px 0
    letter-spacing: 0.04em
    border-bottom: 1px solid rgba(0,0,0,.1)