
.is-desktop
    .is-tablet--local, .is-mobile--local
        display: none

.is-tablet, .is-mobile
    .no--scroll
        height: 100vh!important

.constructor-view
    &.is-desktop, &.is-tablet, &.is-mobile
        .no--scroll
            height: 100%!important
            
.no--scroll
    overflow: hidden