<template lang="pug">
  .categories
    .categories__aside
        .t-h4 Категории
        ul.categories__list
            li(v-for="item in categories")
                button.categories__item(@click="setActive(item)" v-bind:class="{ active: item.active }") {{ item.title }}
    .categories__content
        ul.categories__templates
            li(v-for="item in filteredList")
                nuxt-link(:to="item.slug")
                    img(:src="item.img")

</template>
<script>

export default {
    data: () => {
        return{
            categories: [
                {
                    title: "Магазин",
                    category: "store",
                    active: true
                },
                {
                    title: "Кафе и рестораны",
                    category: "restaurants",
                    active: false
                },
                {
                    title: "Отели и гостиницы",
                    category: "hotels",
                    active: false
                },
                {
                    title: "Красота",
                    category: "beauty",
                    active: false
                }
            ],
            templates: [
                {
                    img: "/img/templates/template-1.jpg",
                    slug: "/store1",
                    category: "store"
                },
                {
                    img: "/img/templates/template-2.jpg",
                    slug: "/restaurant1",
                    category: "restaurants"
                },
                {
                    img: "/img/templates/template-3.jpg",
                    slug: "/restaurant2",
                    category: "restaurants"
                },
                {
                    img: "/img/templates/template-4.jpg",
                    slug: "/store1",
                    category: "store"
                },
                {
                    img: "/img/templates/template-5.jpg",
                    slug: "/hotels1",
                    category: "hotels"
                },
                {
                    img: "/img/templates/template-3.jpg",
                    slug: "/hotels2",
                    category: "hotels"
                },
                {
                    img: "/img/templates/template-2.jpg",
                    slug: "/hotels3",
                    category: "hotels"
                },
                {
                    img: "/img/templates/template-1.jpg",
                    slug: "/hotels4",
                    category: "hotels"
                },
                {
                    img: "/img/templates/template-4.jpg",
                    slug: "/beauty1",
                    category: "beauty"
                },
                {
                    img: "/img/templates/template-2.jpg",
                    slug: "/beauty2",
                    category: "beauty"
                },
                {
                    img: "/img/templates/template-1.jpg",
                    slug: "/beauty3",
                    category: "beauty"
                },
            ]
        }
    },
    computed: {
        activeCategory: function () {
            let filter;
            this.categories.forEach((el) => {
                if(el.active == true){
                    filter = el.category;
                } 
            });
            return filter;
        },
        filteredList: function () {
            const filterResult = this.templates.filter(template => template.category == this.activeCategory);
            return filterResult;
        },
    },
    methods: {
        setActive(item){
            this.categories.forEach((el) => {
                el.active = false;
            });
            item.active = true;
        }
    },
}
</script>
<style lang="sass">
    .categories
        display: grid
        grid-template-columns: 260px 1fr
        grid-gap: 40px
    
    .categories__list
        margin-top: 35px
        display: grid
        grid-gap: 15px
        
        button
            opacity: .6
            transition-duration: .4s
            &:hover, &.active
                opacity: 1

    .categories__item
        font-size: 16px

    .categories__templates
        display: grid
        grid-gap: 40px
        grid-template-columns: repeat(2, 1fr)
        li
            position: relative
            filter: drop-shadow(0px 32px 48px rgba(5, 23, 39, 0.12))
            a
                overflow: hidden
                &:hover
                    img
                        transform: scale(1.02)
            img
                width: 100%
                transition-duration: .6s
                display: block
</style>
