<template lang="pug">
  .header
    .container.u-flex.u-jcsb.u-aic
      Logo
      .header__part
</template>
<script>
import Logo from '~/components/elements/Logo.vue'

export default {
  components: {
    Logo
  }
}
</script>
<style lang="sass">
  .header
    width: 100%
    padding: 25px 0
  
  .header__part
    display: grid
    & > *
      grid-row: 1
</style>
